
@{
    ViewBag.Title = "Gizlilik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="font-family: 'Times New Roman',sans-serif !important;">
    <div class="row">
        <div class="col-md-12">
            <br />
            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt">GİZLİLİK S&Ouml;ZLEŞMESİ</span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in; text-align:center">&nbsp;</p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">www.becomingtur.com ,&nbsp; ALPASYA SEYAHAT ACENTELİĞİ TURİZM ORG. TRAN. OTO KİR. İ&Ccedil; VE DIŞ TİC. LTD. ŞTİ (&ldquo;BECOMING TUR&rdquo;) ait bir internet sitesidir. Bu gizlilik politikası, site &uuml;zerinde bulunan bilgilerinizin nasıl korunduğu ve kullanıldığı ile ilgili bilgiler i&ccedil;ermektedir. Site&rsquo;ye giriş yaparak veya site&rsquo;yi kullanarak bu Gizlilik Politikası s&ouml;zleşmesinin tamamını okuduğunuzu, anladığınızı ve t&uuml;m maddelerini kabul ettiğinizi onaylamaktasınız.</span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Satın Alma İşlem G&uuml;venliği ve SSL Sertifikası</span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Sitemizde kredi kartınızla yapacağınız t&uuml;m işlemleriniz GeotrustRapidSSL sertifikasıyla g&uuml;vence altına alınmıştır. Kart bilgileriniz 2048 bit koruma ile şifrelenerek iletilmektedir. SSL (Secure Soket Layer) bağlantısının hangi durumda aktif olduğunu, sipariş işlemleri sırasında kart bilgilerinizi girdiğiniz sayfamıza ge&ccedil;tiğiniz sırada, tarayıcınızın adres &ccedil;ubuğunun hemen yanında g&ouml;r&uuml;nt&uuml;lenecek olan kilit simgesinden anlayabilirsiniz.</span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Kredi Kartı bilgilerinizi girdiğiniz sayfanın sağ alt k&ouml;şesinde bulunan kilit resmi bu sayfanın SSL ile şifrelendiğini g&ouml;sterir ve &uuml;zerine tıkladığınızda şifrelemenin hangi firmaya ait olduğunu belirtir. Web sitemize kayıt olurken kullandığınız &uuml;yelik ve kişisel bilgileriniz gizli tutulmakta olup sizin onayınız dışında hi&ccedil; kimseyle paylaşılamaz. SSL yazılımları, m&uuml;şteri-işletme-banka arasındaki bilgi akışının, &ccedil;&ouml;z&uuml;lme ihtimali matematiksel olarak &ccedil;ok d&uuml;ş&uuml;k ve teknik a&ccedil;ıdan zor olan 2048 bit teknolojileriyle şifreli olarak yapılmasını sağlamaktadır.</span></span></p>

        </div>
    </div>
</div>
