

<!DOCTYPE html>

<html>
<head>
    <!-- Page Title -->
    <title>Becoming tour & service</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo - Travel, Tour Booking HTML5 Template">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/assest/images/logo.png" type="image/x-icon">

    <!-- Theme Styles -->
    <link href="~/Content/assest/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <link href="~/Content/assest/css/animate.css" rel="stylesheet" />
    <!-- Current Page Styles -->
    <link href="~/Content/assest/components/revolution_slider/css/settings.css" rel="stylesheet" />
    <link href="~/Content/assest/components/revolution_slider/css/style.css" rel="stylesheet" />
    <link href="~/Content/assest/components/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/assest/components/flexslider/flexslider.css" rel="stylesheet" />

    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="~/Content/assest/css/style.css" />

    <!-- Updated Styles -->
    <link href="~/Content/assest/css/updates.css" rel="stylesheet" />
    <!-- Custom Styles -->
    <link href="~/Content/assest/css/custom.css" rel="stylesheet" />
    <!-- Responsive Styles -->
    <link href="~/Content/assest/css/responsive.css" rel="stylesheet" />
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/af98a6cd1e.js" crossorigin="anonymous"></script>
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">

                        <li class="ribbon">
                            <select class="selectpicker" data-width="fit">
                                <option data-content='<span class="flag-icon flag-icon-tr"></span> Türkçe'>Türkçe</option>
                                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                <option data-content='<span class="flag-icon flag-icon-ru"></span> Pусский'>Русский</option>

                            </select>

                        </li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a class="soap-popupbox">+30-6977664062 (mobile phone)  |  </a></li>
                        <li><a class="soap-popupbox"><i class="fa fa-phone"></i> Sizi Arayalım</a></li>

                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">

                    <literal class="navbar-brand">
                        <a href="">
                            <img src="~/Content/assest/images/logo.png" height="100" />
                        </a>
                    </literal>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="index.html">ANASAYFA</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">TUR</a>
                                <ul>
                                    <li><a href="index.html">Yurtiçi Turları</a></li>
                                    <li><a href="homepage2.html">Yurtdışı Turları</a></li>
                                    <li><a href="homepage3.html">Gemi Turları</a></li>
                                    <li><a href="homepage4.html">Mavi Tekne Turları</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">BİLET</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">ÖZEL VİLLA</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">VİZE</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">TRANSFER</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">M.I.C.E</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">KURUMSAL</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">İLETİŞİM</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="index.html">ANASAYFA</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">TUR</a>
                            <ul>
                                <li><a href="index.html">Yurtiçi Turları</a></li>
                                <li><a href="homepage2.html">Yurtdışı Turları</a></li>
                                <li><a href="homepage3.html">Gemi Turları</a></li>
                                <li><a href="homepage4.html">Mavi Tekne Turları</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">BİLET</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">ÖZEL VİLLA</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">VİZE</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">TRANSFER</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">KURUMSAL</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">İLETİŞİM</a>
                        </li>
                    </ul>



                </nav>
            </div>


        </header>
        <style>
            .navbar-brand {
                margin-top: 10px;
                margin-left: -121px;
            }

            .search-box {
                background-color: rgba(0,0,0,.6);
                border-radius: 5px;
                padding: 2px;
                border-radius: 5px;
                font-weight: bold;
            }

            .search-category {
                width: 105px !important;
                padding: 10px 10px 10px 10px;
            }

                .search-category literal i {
                }

            #amazingslider-wrapper-1 {
                margin: 20px auto 0px !important;
            }
           
            @@media (max-width:468px) {
                .revolution-slider {
                    height: auto !important;
                }

                .navbar-brand {
                    margin: auto;
                }

                    .navbar-brand img {
                        margin: auto;
                        height: 75px;
                    }

                .category_bg, .ul-revolution {
                    display: none !important;
                }

                .mobile_bg {
                    display: block !important;
                    position: absolute !important;
                }
                 

                .tab-product-slider-contain a:hover {
                    color: #000 !important;
                }
                .amazingslider_css{
                    margin:auto !important;
                    padding:0;
                }
                #popular-posts .box-title{
                    margin-top:-10px;
                }
            }
        </style>
        <div id="slideshow">
            <div class="fullwidthbanner-container">
                <div>
                    <div class="revolution-slider rev_slider" style="height: 0; overflow: hidden;">
                        <ul class="ul-revolution">
                            <!-- SLIDE  -->
                            <!-- Slide1 -->
                            <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
                                <!-- MAIN IMAGE -->
                                <img src="https://www.dcrstrategies.com/wp-content/uploads/2015/11/travel-banner-full-width.png" alt="">


                            </li>


                        </ul>
                        <div class="mobile_bg" style="display:none">
                            <img src="https://www.dcrstrategies.com/wp-content/uploads/2015/11/travel-banner-full-width.png" alt="">
                        </div>


                        <div class="section">
                            <div class="container">
                                <div class="category_bg"><br /><br /><br /><br /><br /></div>
                                <div style="color: #fff;position:absolute ">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="col-sm-2 search-box search-category ">
                                                    <div class="inner-form" style="border-radius:4px" align="center">
                                                        <literal>
                                                            <i class="fa fa-hotel fa-2x"> </i><br /><span style="font-size: 16px;margin-top:-10px">OTEL</span>
                                                        </literal>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-sm-2 search-box  search-category" style="margin-left:10px">
                                                    <div class="inner-form" style="border-radius:4px" align="center">
                                                        <literal>
                                                            <i class="fa fa-suitcase fa-2x"> </i><br /><span style="font-size:16px">TUR</span>
                                                        </literal>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-sm-2 search-box  search-category" style="margin-left:10px;">
                                                    <div class="inner-form" style="border-radius:4px" align="center">
                                                        <literal>
                                                            <i class="fa fa-plane fa-2x"> </i><br /><span style="font-size:16px">BİLET</span>
                                                        </literal>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>




                                </div>
                            </div>
                        </div>

                        <div class="search-box-wrapper" style="margin-top:10px">
                            <div class="search-box container">

                                <div class="s002">

                                    <literal>


                                        <div class="inner-form" style="border-radius:4px">
                                            <div class="input-field first-wrap">
                                                <div class="icon-wrap">
                                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                                                    </svg>
                                                </div>
                                                <input id="search" type="text" placeholder="Ülke, Şehir, Bölge ya da Otel Adı" style=" border-top-left-radius: 5px; border-bottom-left-radius: 7px;" />
                                            </div>
                                            <div class="input-field second-wrap">
                                                <div class="icon-wrap">
                                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                                        <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                                                    </svg>
                                                </div>
                                                <input class="datepicker" id="depart" type="text" placeholder="Giriş Tarihi" />
                                            </div>
                                            <div class="input-field third-wrap">
                                                <div class="icon-wrap">
                                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                                        <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                                                    </svg>
                                                </div>
                                                <input class="datepicker" id="return" type="text" placeholder="Çıkış Tarihi" />
                                            </div>
                                            <div class="input-field fouth-wrap">
                                                <div class="icon-wrap">
                                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                                                    </svg>
                                                </div>
                                                <select data-trigger="" name="choices-single-defaul">
                                                    <option selected>2 KİŞİ</option>
                                                    <option>3 Adults</option>
                                                    <option>4 Adults</option>
                                                    <option>5 Adults</option>
                                                </select>
                                            </div>

                                            <div class="input-field fifth-wrap">
                                                <button class="btn-search" type="button" style="background-color: #5eb82f;border-radius:4px;font-size:27px">ARA <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </literal>
                                </div>
                            </div>
                            <script src="~/Content/assest/search_bar/js/extention/choices.js"></script>
                            <script src="~/Content/assest/search_bar/js/extention/flatpickr.js"></script>
                            <script>
                                flatpickr(".datepicker",
                                    {});

                            </script>
                            <script>
                                const choices = new Choices('[data-trigger]',
                                    {
                                        searchEnabled: false,
                                        itemSelectText: '',
                                    });

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()

    <div class="container amazingslider_css" align="center">
        <div class="col-md-8">
        <div class="amazingslider-wrapper " id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:760px;margin:80px auto 0px;">
                 <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                    <ul class="amazingslider-slides" style="display:none;">
                        <li>
                            <img src="https://images.etstur.com/files/images/site//images/cmsRoot/slide/eb-3-donem-760x400-20012020-2.jpg" alt="eb-3-donem-760x400-20012020-2" title="eb-3-donem-760x400-20012020-2" />
                        </li>
                    </ul>
                </div>
          </div></div>
        <div class="col-md-4">
            <div class="tab-content">
           <br /><br /><br />
                <div id="popular-posts" class="tab-pane fade active in">
                    <div class="image-box style14">
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" src="~/Content/assest/images/dashboard/booking1.png" alt=""></a></figure>
                            <div class="details">
                                <h5 class="box-title" style="font-weight:bold;text-transform:none;font-family:Arial"><a href="#">Erken Rezervasyon Fırsatları</a></h5>
                                <label class="price-wrapper" style="font-weight:bold;text-transform:none;font-family:Arial">%35'e varan indirimleri kaçırmayın !</label>
                            </div>
                        </article>
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" style="height:59px !important" src="https://i4.hurimg.com/i/hurriyet/75/750x422/55eaf8e1f018fbb8f8a29f05.jpg" alt=""></a></figure>
                            <div class="details">
                                <h5 style="font-weight:bold;text-transform:none;font-family:Arial" class="box-title"><a href="#">Kayak Otelleri</a></h5>
                                <label class="price-wrapper" style="font-weight:bold;text-transform:none;font-family:Arial"> Popüler kış otellerini inceleyin</label>
                            </div>
                        </article>
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" style="height:59px !important" src="https://tatilsepeti.cubecdn.net/images/Balayi-Otelleri.jpg" alt=""></a></figure>
                            <div class="details">
                                <h5 style="font-weight:bold;text-transform:none;font-family:Arial" class="box-title"><a href="#">Balayı Otelleri</a></h5>
                                <label class="price-wrapper" style="font-weight:bold;text-transform:none;font-family:Arial">Sizin için seçtiğimiz huzur dolu otelleri kaçırmayın</label>
                            </div>
                        </article>
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" style="height:59px !important" src="~/Content/assest/images/shortcodes/image-box/style05/1.png" alt=""></a></figure>
                            <div class="details">
                                <h5 style="font-weight:bold;text-transform:none;font-family:Arial" class="box-title"><a href="#">Şehir Otelleri</a></h5>
                                <label style="font-weight:bold;text-transform:none;font-family:Arial" class="price-wrapper">%10'a varan indirimler ile şehir otellerini inceleyin</label>
                            </div>
                        </article>
                    </div>
                </div>
                <div id="new-posts" class="tab-pane fade">

                </div>
            </div>
        </div>
    </div>
   
    </div>
      <br />

        <div class="global-map-area parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 151.5px;">
            <div class="container">
                <div class="description text-center">
                    <h1>Otel Temalarımız</h1>
                    <p>Birbirinden farklı otel,tur,bilet,transfer vb. gibi hizmetler için buraya tıklayın sizi arayalım.</p>
                </div>
                <div class="row image-box style4">
                    <div class="col-sm-4">
                        <article class="box animated fadeInLeft" data-animation-type="fadeInLeft" data-animation-delay="0" style="animation-duration: 1s; visibility: visible;">
                            <figure>
                                <a title="" href="#" class="hover-effect"><img width="370" height="172" alt="" src="~/Content/assest/images/shortcodes/image-box/style04/1.png"></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Erken Rezervasyon</h4>
                                <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="box animated fadeInLeft" data-animation-type="fadeInLeft" data-animation-delay="0.3" style="animation-duration: 1s; animation-delay: 0.3s; visibility: visible;">
                            <figure>
                                <a title="" href="#" class="hover-effect"><img width="370" height="172" alt="" src="~/Content/assest/images/shortcodes/image-box/style04/3.png"></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Denize Sıfır</h4>
                                <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="box animated fadeInLeft" data-animation-type="fadeInLeft" data-animation-delay="0.6" style="animation-duration: 1s; animation-delay: 0.6s; visibility: visible;">
                            <figure>
                                <a title="" href="#" class="hover-effect"><img width="370" height="172" alt="" style="height:172px !important" src="~/Content/assest/images/shortcodes/image-box/style05/1.png"></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Şehir Otelleri</h4>
                                <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row image-box style4">
                    <div class="col-sm-4">
                        <article class="box animated fadeInLeft" data-animation-type="fadeInLeft" data-animation-delay="0" style="animation-duration: 1s; visibility: visible;">
                            <figure>
                                <a title="" href="#" class="hover-effect"><img width="370" height="172" alt="" src="~/Content/assest/images/shortcodes/image-box/style04/1.png"></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Erken Rezervasyon</h4>
                                <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="box animated fadeInLeft" data-animation-type="fadeInLeft" data-animation-delay="0.3" style="animation-duration: 1s; animation-delay: 0.3s; visibility: visible;">
                            <figure>
                                <a title="" href="#" class="hover-effect"><img width="370" height="172" alt="" src="~/Content/assest/images/shortcodes/image-box/style04/3.png"></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Denize Sıfır</h4>
                                <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="box animated fadeInLeft" data-animation-type="fadeInLeft" data-animation-delay="0.6" style="animation-duration: 1s; animation-delay: 0.6s; visibility: visible;">
                            <figure>
                                <a title="" href="#" class="hover-effect"><img width="370" height="172" alt="" style="height:172px !important" src="~/Content/assest/images/shortcodes/image-box/style05/1.png"></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Şehir Otelleri</h4>
                                <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>




        <link href="~/Content/assest/search_bar/css/main.css" rel="stylesheet" />
        

        <footer id="footer">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <h2>Discover</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="#">Safety</a></li>
                                <li class="col-xs-6"><a href="#">About</a></li>
                                <li class="col-xs-6"><a href="#">Travelo Picks</a></li>
                                <li class="col-xs-6"><a href="#">Latest Jobs</a></li>
                                <li class="active col-xs-6"><a href="#">Mobile</a></li>
                                <li class="col-xs-6"><a href="#">Press Releases</a></li>
                                <li class="col-xs-6"><a href="#">Why Host</a></li>
                                <li class="col-xs-6"><a href="#">Blog Posts</a></li>
                                <li class="col-xs-6"><a href="#">Social Connect</a></li>
                                <li class="col-xs-6"><a href="#">Help Topics</a></li>
                                <li class="col-xs-6"><a href="#">Site Map</a></li>
                                <li class="col-xs-6"><a href="#">Policies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2>Travel News</h2>
                            <ul class="travel-news">
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                        <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                        <span class="date">25 Sep, 2013</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                        <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                        <span class="date">24 Sep, 2013</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2>Mailing List</h2>
                            <p>Sign up for our mailing list to get latest updates and offers.</p>
                            <br />
                            <div class="icon-check">
                                <input type="text" class="input-text full-width" placeholder="your email" />
                            </div>
                            <br />
                            <span>We respect your privacy</span>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2>About Travelo</h2>
                            <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massaidp nequetiam lore elerisque.</p>
                            <br />
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                <br />
                                <a href="#" class="contact-email">help@travelo.com</a>
                            </address>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                                <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    <div class="logo pull-left">
                        <a href="index.html" title="Travelo - home">
                            <img src="~/Content/assets/images/logo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>&copy; 2014 Travelo</p>
                    </div>
                </div>
            </div>
        </footer>


    </div>
    <!-- Javascript -->

    <script src="~/Content/assest/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/assest/js/jquery.noconflict.js"></script>
    <script src="~/Content/assest/js/modernizr.2.7.1.min.js"></script>
    <script src="~/Content/assest/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/assest/js/jquery.placeholder.js"></script>
    <script src="~/Content/assest/js/jquery-ui.1.10.4.min.js"></script>

    <!-- Twitter Bootstrap -->
    <script src="~/Content/assest/js/bootstrap.js"></script>

    <!-- load revolution slider scripts -->
    <script src="~/Content/assest/components/revolution_slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/assest/components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- load BXSlider scripts -->
    <script src="~/Content/assest/components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- load FlexSlider scripts -->
    <script src="~/Content/assest/components/flexslider/jquery.flexslider-min.js"></script>

    <!-- Google Map Api -->
    <script src="~/Content/assest/js/googlemapapi.js"></script>
    <script src="~/Content/assest/js/gmap3.min.js"></script>
    <!-- parallax -->
    <script src="~/Content/assest/js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script src="~/Content/assest/js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script src="~/Content/assest/js/theme-scripts.js"></script>
    <script src="~/Content/assest/js/scripts.js"></script>
    <!-- Latest compiled and minified CSS -->

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css'>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js'></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script type="text/javascript">
        tjq(document).ready(function () {
            tjq('.revolution-slider').revolution(
                {
                    sliderType: "standard",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "on",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style: "default",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1170,
                    gridheight: 400,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            tjq('.selectpicker').selectpicker();
        });
    </script>

    <script src="~/Content/assest/image-gallery/sliderengine/amazingslider.js"></script>
    <link href="~/Content/assest/image-gallery/sliderengine/amazingslider-1.css" rel="stylesheet" />
    <script src="~/Content/assest/image-gallery/sliderengine/initslider-1.js"></script>
     

</body>
</html>
