

<!DOCTYPE html>

<html>
<head>
    <!-- Page Title -->
    <title>Becoming tour & service</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo - Travel, Tour Booking HTML5 Template">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/assest/images/logo.png" type="image/x-icon">

    <!-- Theme Styles -->
    <link href="~/Content/assest/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <link href="~/Content/assest/css/animate.css" rel="stylesheet" />
    <!-- Current Page Styles -->
    <link href="~/Content/assest/components/revolution_slider/css/settings.css" rel="stylesheet" />
    <link href="~/Content/assest/components/revolution_slider/css/style.css" rel="stylesheet" />
    <link href="~/Content/assest/components/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/assest/components/flexslider/flexslider.css" rel="stylesheet" />

    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="~/Content/assest/css/style.css" />

    <!-- Updated Styles -->
    <link href="~/Content/assest/css/updates.css" rel="stylesheet" />
    <!-- Custom Styles -->
    <link href="~/Content/assest/css/custom.css" rel="stylesheet" />
    <!-- Responsive Styles -->
    <link href="~/Content/assest/css/responsive.css" rel="stylesheet" />
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/af98a6cd1e.js" crossorigin="anonymous"></script>
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">

                        <li class="ribbon">
                            <select class="selectpicker" data-width="fit">
                                <option data-content='<span class="flag-icon flag-icon-tr"></span> Türkçe'>Türkçe</option>
                                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                <option data-content='<span class="flag-icon flag-icon-ru"></span> Pусский'>Русский</option>

                            </select>

                        </li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a class="soap-popupbox">+30-6977664062 (mobile phone)  |  </a></li>
                        <li><a class="soap-popupbox"><i class="fa fa-phone"></i> Sizi Arayalım</a></li>

                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">

                    <literal class="navbar-brand">
                        <a href="">
                            <img src="~/Content/assest/images/logo.png" height="100" />
                        </a>
                    </literal>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="index.html">ANASAYFA</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">TUR</a>
                                <ul>
                                    <li><a href="index.html">Yurtiçi Turları</a></li>
                                    <li><a href="homepage2.html">Yurtdışı Turları</a></li>
                                    <li><a href="homepage3.html">Gemi Turları</a></li>
                                    <li><a href="homepage4.html">Mavi Tekne Turları</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">BİLET</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">ÖZEL VİLLA</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">VİZE</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">TRANSFER</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">M.I.C.E</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">KURUMSAL</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">İLETİŞİM</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="index.html">ANASAYFA</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">TUR</a>
                            <ul>
                                <li><a href="index.html">Yurtiçi Turları</a></li>
                                <li><a href="homepage2.html">Yurtdışı Turları</a></li>
                                <li><a href="homepage3.html">Gemi Turları</a></li>
                                <li><a href="homepage4.html">Mavi Tekne Turları</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">BİLET</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">ÖZEL VİLLA</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">VİZE</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">TRANSFER</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">KURUMSAL</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">İLETİŞİM</a>
                        </li>
                    </ul>



                </nav>
            </div>


        </header>
        <style>
            .navbar-brand {
                margin-top: 10px;
                margin-left: -121px;
            }

            .search-box {
                background-color: rgba(0,0,0,.6);
                border-radius: 5px;
                padding: 2px;
                border-radius: 5px;
                font-weight: bold;
            }

            .search-category {
                width: 105px !important;
                padding: 10px 10px 10px 10px;
            }

                .search-category literal i {
                }

            #amazingslider-wrapper-1 {
                margin: 20px auto 0px !important;
            }

            @@media (max-width:468px) {
                .revolution-slider {
                    height: auto !important;
                }

                .navbar-brand {
                    margin: auto;
                    height: 66px;
                }

                    .navbar-brand img {
                        margin: auto;
                        height: 55px;
                        margin-top: -10px;
                    }

                .category_bg, .ul-revolution {
                    display: none !important;
                }

                .mobile_bg {
                    display: block !important;
                    position: absolute !important;
                }


                .tab-product-slider-contain a:hover {
                    color: #000 !important;
                }

                .amazingslider_css {
                    margin: auto !important;
                    padding: 0;
                }

                #popular-posts .box-title {
                    margin-top: -10px;
                }
            }
        </style>

        @RenderBody()

    </div>
    <br />






    <link href="~/Content/assest/search_bar/css/main.css" rel="stylesheet" />


    <footer id="footer">
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <ul class="discover triangle hover row">
                            <li class="col-xs-6"><a href="#">Yurt İçi Turlar</a></li>
                            <li class="col-xs-6"><a href="#">Antalya Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Yurt Dışı Turlar</a></li>
                            <li class="col-xs-6"><a href="#">Ankara Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Gemi Turları</a></li>
                            <li class="col-xs-6"><a href="#">Side Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Karadeniz Turları</a></li>
                            <li class="col-xs-6"><a href="#">Kemer Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Fethiye Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Mavi Tekne Turları</a></li>
                            <li class="col-xs-6"><a href="#">İzmir Otelleri</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="discover triangle hover row ">
                            <li class="col-xs-6"><a href="#">Kış Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Hakkımızda</a></li>
                            <li class="col-xs-6"><a href="#">Yaz Otelleri</a></li>
                            <li class="col-xs-6"><a href="cookie">Cookieler</a></li>
                            <li class="col-xs-6"><a href="#">Mobile</a></li>
                            <li class="col-xs-6"><a href="gizlilik">Gizlilik</a></li>
                            <li class="col-xs-6"><a href="#">Why Host</a></li>
                            <li class="col-xs-6"><a href="#">Politikalar</a></li>
                            <li class="col-xs-6"><a href="#">Sosyal </a></li>
                            <li class="col-xs-6"><a href="#">Kurumsal</a></li>
                            <li class="col-xs-6"><a href="kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a></li>
                            <li class="col-xs-6"><a href="kisisel-verileri-koruma">Verilerin Korunması</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>Mailing List</h2>
                        <p>Sign up for our mailing list to get latest updates and offers.</p>
                        <br />
                        <div class="icon-check">
                            <input type="text" class="input-text full-width" placeholder="your email" />
                        </div>
                        <br />
                        <span>We respect your privacy</span>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <address class="contact-details">
                            <div style="font-size:11px;" id="footerContact">
                                <span class="contact-phone" style="line-height:22px !important;"><i class="fa fa-map-marker" aria-hidden="true"></i>Cumhuriyet Mahallesi Atatürk Bulvarı 91/29 <b>Kızılay-Çankaya/ANKARA</b></span>
                                <br />
                                <span class="contact-phone"><i class="fas fa-phone"></i> 0(312) 435 96 16</span>
                                <br />
                                <span class="contact-phone"><i class="fa fa-fax" aria-hidden="true"></i>0(312) 433 75 60</span>
                                <br />

                                <span class="contact-phone"><i class="fa fa-envelope" aria-hidden="true"></i>info@becomingtur.com</span>
                                <br />
                                <span class="contact-phone"><i class="fas fa-globe" ></i><a href="#">www.becomingtur.com</a></span>
                            </div>
                        </address>
                        @*<ul class="social-icons clearfix">
                            <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                            <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                            <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                            <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                            <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                            <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                            <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom gray-area">
            <div class="container">
                <div class="logo pull-left">
                    <a href="index.html" title="Travelo - home">
                        <img src="images/logo.png" alt="Travelo HTML5 Template" />
                    </a>
                </div>
                <div class="pull-right">
                    <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                </div>
                <div class="copyright pull-right">
                    <p>&copy; 2014 Travelo</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Javascript -->

    <script src="~/Content/assest/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/assest/js/jquery.noconflict.js"></script>
    <script src="~/Content/assest/js/modernizr.2.7.1.min.js"></script>
    <script src="~/Content/assest/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/assest/js/jquery.placeholder.js"></script>
    <script src="~/Content/assest/js/jquery-ui.1.10.4.min.js"></script>

    <!-- Twitter Bootstrap -->
    <script src="~/Content/assest/js/bootstrap.js"></script>

    <!-- load revolution slider scripts -->
    <script src="~/Content/assest/components/revolution_slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/assest/components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- load BXSlider scripts -->
    <script src="~/Content/assest/components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- load FlexSlider scripts -->
    <script src="~/Content/assest/components/flexslider/jquery.flexslider-min.js"></script>

    <!-- Google Map Api -->
    <script src="~/Content/assest/js/googlemapapi.js"></script>
    <script src="~/Content/assest/js/gmap3.min.js"></script>
    <!-- parallax -->
    <script src="~/Content/assest/js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script src="~/Content/assest/js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script src="~/Content/assest/js/theme-scripts.js"></script>
    <script src="~/Content/assest/js/scripts.js"></script>
    <!-- Latest compiled and minified CSS -->

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css'>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js'></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script type="text/javascript">
        tjq(document).ready(function () {
            tjq('.revolution-slider').revolution(
                {
                    sliderType: "standard",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "on",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style: "default",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1170,
                    gridheight: 400,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            tjq('.selectpicker').selectpicker();
        });
    </script>

    <script src="~/Content/assest/image-gallery/sliderengine/amazingslider.js"></script>
    <link href="~/Content/assest/image-gallery/sliderengine/amazingslider-1.css" rel="stylesheet" />
    <script src="~/Content/assest/image-gallery/sliderengine/initslider-1.js"></script>


</body>
</html>
