

<!DOCTYPE html>

<html>
<head>
    <!-- Page Title -->
    <title>Becoming tour & service</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo - Travel, Tour Booking HTML5 Template">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/assest/images/logo.png" type="image/x-icon">

    <!-- Theme Styles -->
    <link href="~/Content/assest/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <link href="~/Content/assest/css/animate.css" rel="stylesheet" />
    <!-- Current Page Styles -->
    <link href="~/Content/assest/components/revolution_slider/css/settings.css" rel="stylesheet" />
    <link href="~/Content/assest/components/revolution_slider/css/style.css" rel="stylesheet" />
     <link href="~/Content/assest/components/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/assest/components/flexslider/flexslider.css" rel="stylesheet" />

    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="~/Content/assest/css/style.css" />

    <!-- Updated Styles -->
    <link href="~/Content/assest/css/updates.css" rel="stylesheet" />
    <!-- Custom Styles -->
    <link href="~/Content/assest/css/custom.css" rel="stylesheet" />
    <!-- Responsive Styles -->
    <link href="~/Content/assest/css/responsive.css" rel="stylesheet" />
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    @*Font*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af98a6cd1e.js" crossorigin="anonymous"></script>
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">

                        <li class="ribbon">
                            <select class="selectpicker" data-width="fit">
                                <option data-content='<span class="flag-icon flag-icon-tr"></span> Türkçe'>Türkçe</option>
                                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                <option data-content='<span class="flag-icon flag-icon-ru"></span> Pусский'>Русский</option>

                            </select>

                        </li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a class="soap-popupbox">+90 (312) 435 96 16  |  </a></li>
                        <li><a id="btnsiziarayalim" onclick="saraylimclick(); return false;" style="cursor: pointer" class="soap-popupbox"><i class="fa fa-phone"></i> Sizi Arayalım</a></li>

                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">

                    <literal class="navbar-brand">
                        <a href="/">
                            <img src="~/Content/assest/images/logo.png" height="100" />
                        </a>
                    </literal>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href=" ">ANASAYFA</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">TUR</a>
                                <ul>
                                    <li><a href="index.html">Yurtiçi Turları</a></li>
                                    <li><a href="homepage2.html">Yurtdışı Turları</a></li>
                                    @*<li><a href="homepage3.html">Gemi Turları</a></li>
                                    <li><a href="homepage4.html">Mavi Tekne Turları</a></li>*@
                                </ul>
                            </li>
                            @*<li class="menu-item-has-children">
                                <a href="index.html">HİZMETLERİMİZ</a>
                                <ul>
                                    <li><a href="index.html">Cruise Turları</a></li>
                                    <li><a href="homepage2.html">Özel Tekne Kiralama</a></li>
                                    <li><a href="homepage3.html">Özel Villa Kiralama</a></li>
                                    <li><a href="homepage4.html">Transfer</a></li>
                                    <li><a href="homepage4.html">Araç Kiralama</a></li>
                                </ul>
                            </li>*@
                            <li class="menu-item-has-children">
                                <a href="index.html">BİLET</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">VİZE</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">TRANSFER</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">M.I.C.E</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="index.html">KURUMSAL</a>
                            </li>

                            <li class="menu-item-has-children">
                                <a href="index.html">İLETİŞİM</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="index.html">ANASAYFA</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">TUR</a>
                            <ul>
                                <li><a href="index.html">Yurtiçi Turları</a></li>
                                <li><a href="homepage2.html">Yurtdışı Turları</a></li>
                                <li><a href="homepage3.html">Gemi Turları</a></li>
                                <li><a href="homepage4.html">Mavi Tekne Turları</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">BİLET</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">ÖZEL VİLLA</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">VİZE</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">TRANSFER</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">KURUMSAL</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">İLETİŞİM</a>
                        </li>
                    </ul>



                </nav>
            </div>


        </header>
        <style>
            .navbar-brand {
                margin-top: 10px;
                margin-left: -121px;
            }

            .search-box {
                background-color: rgba(0,0,0,.6);
                border-radius: 5px;
                padding: 2px;
                border-radius: 5px;
                font-weight: bold;
            }

            .search-category {
                width: 105px !important;
                padding: 10px 10px 10px 10px;
            }

                .search-category literal i {
                }

            #amazingslider-wrapper-1 {
                margin: 20px auto 0px !important;
            }

            @@media (max-width:468px) {
                .revolution-slider {
                    height: auto !important;
                }

                .navbar-brand {
                    margin: auto;
                    height: 66px;
                }

                    .navbar-brand img {
                        margin: auto;
                        height: 55px;
                        margin-top: -10px;
                    }

                .category_bg, .ul-revolution {
                    display: none !important;
                }

                .mobile_bg {
                    display: block !important;
                    position: absolute !important;
                }


                .tab-product-slider-contain a:hover {
                    color: #000 !important;
                }

                .amazingslider_css {
                    margin: auto !important;
                    padding: 0;
                }

                #popular-posts .box-title {
                    margin-top: -10px;
                }
            }
        </style>

        @RenderBody()

    </div>
    <br />






    <link href="~/Content/assest/search_bar/css/main.css" rel="stylesheet" />

    @*<div class="modal fade" role="dialog" id="deneme">
            <p>loremmaskldmsakmd.işsadkmsa</p>
        </div>*@

    <footer id="footer">
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <ul class="discover triangle hover row">
                            <li class="col-xs-6"><a href="#">Yurt İçi Turlar</a></li>
                            <li class="col-xs-6"><a href="#">Antalya Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Yurt Dışı Turlar</a></li>
                            <li class="col-xs-6"><a href="#">Ankara Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Gemi Turları</a></li>
                            <li class="col-xs-6"><a href="#">Side Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Karadeniz Turları</a></li>
                            <li class="col-xs-6"><a href="#">Kemer Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Fethiye Otelleri</a></li>
                            <li class="col-xs-6"><a href="#">Mavi Tekne Turları</a></li>
                            <li class="col-xs-6"><a href="#">İzmir Otelleri</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="discover triangle hover row ">
                            <li class="col-xs-6"><a href="#">Kış Otelleri</a></li>
                            <li class="col-xs-6"><a href="hakkimizda">Hakkımızda</a></li>
                            <li class="col-xs-6"><a href="#">Yaz Otelleri</a></li>
                            <li class="col-xs-6"><a href="cookie">Cookieler</a></li>
                            <li class="col-xs-6"><a href="#">Mobile</a></li>
                            <li class="col-xs-6"><a href="gizlilik">Gizlilik</a></li>
                            <li class="col-xs-6"><a href="#">Why Host</a></li>
                            <li class="col-xs-6"><a href="becoming-teknik">Teknik</a></li>
                            <li class="col-xs-6"><a href="#">Sosyal </a></li>
                            <li class="col-xs-6"><a href="#">Kurumsal</a></li>
                            <li class="col-xs-6"><a href="kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a></li>
                            <li class="col-xs-6"><a href="kisisel-verileri-koruma">Verilerin Korunması</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>Mailing List</h2>
                        <p>Sign up for our mailing list to get latest updates and offers.</p>
                        <br />
                        <div class="icon-check">
                            <input type="text" class="input-text full-width" placeholder="your email" />
                        </div>
                        <br />
                        <span>We respect your privacy</span>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <address class="contact-details">
                            <div style="font-size:11px;" id="footerContact">
                                <span class="contact-phone" style="line-height:22px !important;"><i class="fa fa-map-marker" aria-hidden="true"></i>Cumhuriyet Mahallesi Atatürk Bulvarı 91/29 <b>Kızılay-Çankaya/ANKARA</b></span>
                                <br />
                                <span class="contact-phone"><i class="fas fa-phone"></i> 0(312) 435 96 16</span>
                                <br />
                                <span class="contact-phone"><i class="fa fa-fax" aria-hidden="true"></i>0(312) 433 75 60</span>
                                <br />

                                <span class="contact-phone"><i class="fa fa-envelope" aria-hidden="true"></i>info@becomingtur.com</span>
                                <br />
                                <span class="contact-phone"><i class="fas fa-globe"></i><a href="#">www.becomingtur.com</a></span>
                            </div>
                        </address>
                        @*<ul class="social-icons clearfix">
                                <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                                <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom gray-area">
            <div class="container">
                <div class="logo pull-left">
                    <a href="index.html" title="Travelo - home">
                        <img src="images/logo.png" alt="Travelo HTML5 Template" />
                    </a>
                </div>
                <div class="pull-right">
                    <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                </div>
                <div class="copyright pull-right">
                    <p>&copy; 2014 Travelo</p>
                </div>
            </div>
        </div>
    </footer>
    <div id="modalSiziArayalim" class="modal fade" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title" style="color: #000; font-size: 26px">Sizi arayalım</h2>
                    <h5 id="hhaftasonu" style="color: red; font-weight: bold"></h5>
                    <hr />

                </div>
                <div class="modal-body" style="margin-top: -30px">

                    <div id="sarayalimkayit" class="visible">
                        Aşağıdaki bilgileri girin, sizi belirttiğiniz saatte biz arayalım.
                        <br /> <br />
                        <div class="form-group">
                            <label for="txtadsoyadi" style="color: #000">Adınız soyadınız</label>
                            <input type="text" class="form-control" id="txtsadsoyadi" name="txtsadsoyadi" required="required" placeholder="Adınızı ve soyadınızı giriniz" maxlength="50" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" style="padding: 0; padding-right: 5px">
                                <label for="txtulkekodu" style="color: #000">Ülke Kodu</label>
                                <select id="txtulkekodu" name="txtulkekodu" class="form-control">
                                    <option value="1">+1</option>
                                    <option value="7">+7</option>
                                    <option value="20">+20</option>
                                    <option value="27">+27</option>
                                    <option value="30">+30</option>
                                    <option value="31">+31</option>
                                    <option value="32">+32</option>
                                    <option value="33">+33</option>
                                    <option value="34">+34</option>
                                    <option value="36">+36</option>
                                    <option value="39">+39</option>
                                    <option value="40">+40</option>
                                    <option value="41">+41</option>
                                    <option value="43">+43</option>
                                    <option value="44">+44</option>
                                    <option value="45">+45</option>
                                    <option value="46">+46</option>
                                    <option value="47">+47</option>
                                    <option value="48">+48</option>
                                    <option value="49">+49</option>
                                    <option value="51">+51</option>
                                    <option value="52">+52</option>
                                    <option value="53">+53</option>
                                    <option value="54">+54</option>
                                    <option value="55">+55</option>
                                    <option value="56">+56</option>
                                    <option value="57">+57</option>
                                    <option value="58">+58</option>
                                    <option value="60">+60</option>
                                    <option value="61">+61</option>
                                    <option value="62">+62</option>
                                    <option value="63">+63</option>
                                    <option value="64">+64</option>
                                    <option value="65">+65</option>
                                    <option value="66">+66</option>
                                    <option value="81">+81</option>
                                    <option value="82">+82</option>
                                    <option value="84">+84</option>
                                    <option value="86">+86</option>
                                    <option value="90" selected="selected">+90</option>
                                    <option value="91">+91</option>
                                    <option value="92">+92</option>
                                    <option value="93">+93</option>
                                    <option value="94">+94</option>
                                    <option value="95">+95</option>
                                    <option value="98">+98</option>
                                    <option value="212">+212</option>
                                    <option value="213">+213</option>
                                    <option value="216">+216</option>
                                    <option value="218">+218</option>
                                    <option value="220">+220</option>
                                    <option value="221">+221</option>
                                    <option value="222">+222</option>
                                    <option value="223">+223</option>
                                    <option value="224">+224</option>
                                    <option value="225">+225</option>
                                    <option value="226">+226</option>
                                    <option value="227">+227</option>
                                    <option value="228">+228</option>
                                    <option value="229">+229</option>
                                    <option value="230">+230</option>
                                    <option value="231">+231</option>
                                    <option value="232">+232</option>
                                    <option value="233">+233</option>
                                    <option value="234">+234</option>
                                    <option value="235">+235</option>
                                    <option value="236">+236</option>
                                    <option value="237">+237</option>
                                    <option value="238">+238</option>
                                    <option value="239">+239</option>
                                    <option value="240">+240</option>
                                    <option value="241">+241</option>
                                    <option value="242">+242</option>
                                    <option value="243">+243</option>
                                    <option value="244">+244</option>
                                    <option value="245">+245</option>
                                    <option value="246">+246</option>
                                    <option value="247">+247</option>
                                    <option value="248">+248</option>
                                    <option value="249">+249</option>
                                    <option value="250">+250</option>
                                    <option value="251">+251</option>
                                    <option value="252">+252</option>
                                    <option value="253">+253</option>
                                    <option value="254">+254</option>
                                    <option value="255">+255</option>
                                    <option value="256">+256</option>
                                    <option value="257">+257</option>
                                    <option value="258">+258</option>
                                    <option value="260">+260</option>
                                    <option value="261">+261</option>
                                    <option value="262">+262</option>
                                    <option value="263">+263</option>
                                    <option value="264">+264</option>
                                    <option value="265">+265</option>
                                    <option value="266">+266</option>
                                    <option value="267">+267</option>
                                    <option value="268">+268</option>
                                    <option value="290">+290</option>
                                    <option value="291">+291</option>
                                    <option value="297">+297</option>
                                    <option value="298">+298</option>
                                    <option value="299">+299</option>
                                    <option value="350">+350</option>
                                    <option value="351">+351</option>
                                    <option value="352">+352</option>
                                    <option value="353">+353</option>
                                    <option value="354">+354</option>
                                    <option value="355">+355</option>
                                    <option value="356">+356</option>
                                    <option value="357">+357</option>
                                    <option value="358">+358</option>
                                    <option value="359">+359</option>
                                    <option value="370">+370</option>
                                    <option value="371">+371</option>
                                    <option value="372">+372</option>
                                    <option value="373">+373</option>
                                    <option value="374">+374</option>
                                    <option value="375">+375</option>
                                    <option value="376">+376</option>
                                    <option value="377">+377</option>
                                    <option value="378">+378</option>
                                    <option value="380">+380</option>
                                    <option value="381">+381</option>
                                    <option value="382">+382</option>
                                    <option value="385">+385</option>
                                    <option value="386">+386</option>
                                    <option value="387">+387</option>
                                    <option value="389">+389</option>
                                    <option value="420">+420</option>
                                    <option value="421">+421</option>
                                    <option value="423">+423</option>
                                    <option value="500">+500</option>
                                    <option value="501">+501</option>
                                    <option value="502">+502</option>
                                    <option value="503">+503</option>
                                    <option value="504">+504</option>
                                    <option value="505">+505</option>
                                    <option value="506">+506</option>
                                    <option value="507">+507</option>
                                    <option value="508">+508</option>
                                    <option value="509">+509</option>
                                    <option value="590">+590</option>
                                    <option value="591">+591</option>
                                    <option value="592">+592</option>
                                    <option value="593">+593</option>
                                    <option value="594">+594</option>
                                    <option value="595">+595</option>
                                    <option value="596">+596</option>
                                    <option value="597">+597</option>
                                    <option value="598">+598</option>
                                    <option value="599">+599</option>
                                    <option value="672">+672</option>
                                    <option value="673">+673</option>
                                    <option value="674">+674</option>
                                    <option value="675">+675</option>
                                    <option value="676">+676</option>
                                    <option value="677">+677</option>
                                    <option value="678">+678</option>
                                    <option value="679">+679</option>
                                    <option value="681">+681</option>
                                    <option value="682">+682</option>
                                    <option value="683">+683</option>
                                    <option value="685">+685</option>
                                    <option value="686">+686</option>
                                    <option value="687">+687</option>
                                    <option value="688">+688</option>
                                    <option value="689">+689</option>
                                    <option value="691">+691</option>
                                    <option value="692">+692</option>
                                    <option value="850">+850</option>
                                    <option value="852">+852</option>
                                    <option value="853">+853</option>
                                    <option value="855">+855</option>
                                    <option value="856">+856</option>
                                    <option value="880">+880</option>
                                    <option value="886">+886</option>
                                    <option value="960">+960</option>
                                    <option value="961">+961</option>
                                    <option value="962">+962</option>
                                    <option value="963">+963</option>
                                    <option value="964">+964</option>
                                    <option value="965">+965</option>
                                    <option value="966">+966</option>
                                    <option value="967">+967</option>
                                    <option value="968">+968</option>
                                    <option value="970">+970</option>
                                    <option value="971">+971</option>
                                    <option value="972">+972</option>
                                    <option value="973">+973</option>
                                    <option value="974">+974</option>
                                    <option value="975">+975</option>
                                    <option value="976">+976</option>
                                    <option value="977">+977</option>
                                    <option value="992">+992</option>
                                    <option value="993">+993</option>
                                    <option value="994">+994</option>
                                    <option value="995">+995</option>
                                    <option value="996">+996</option>
                                    <option value="998">+998</option>
                                    <option value="1242">+1242</option>
                                    <option value="1246">+1246</option>
                                    <option value="1264">+1264</option>
                                    <option value="1268">+1268</option>
                                    <option value="1284">+1284</option>
                                    <option value="1340">+1340</option>
                                    <option value="1345">+1345</option>
                                    <option value="1441">+1441</option>
                                    <option value="1473">+1473</option>
                                    <option value="1649">+1649</option>
                                    <option value="1664">+1664</option>
                                    <option value="1670">+1670</option>
                                    <option value="1671">+1671</option>
                                    <option value="1684">+1684</option>
                                    <option value="1758">+1758</option>
                                    <option value="1767">+1767</option>
                                    <option value="1784">+1784</option>
                                    <option value="1787">+1787</option>
                                    <option value="1808">+1808</option>
                                    <option value="1809">+1809</option>
                                    <option value="1829">+1829</option>
                                    <option value="1868">+1868</option>
                                    <option value="1869">+1869</option>
                                    <option value="1876">+1876</option>
                                    <option value="1907">+1907</option>
                                    <option value="1939">+1939</option>
                                    <option value="2693">+2693</option>
                                    <option value="2697">+2697</option>
                                    <option value="373">+373</option>
                                    <option value="374">+374</option>
                                    <option value="375">+375</option>
                                    <option value="376">+376</option>
                                    <option value="377">+377</option>
                                    <option value="378">+378</option>
                                    <option value="380">+380</option>
                                    <option value="381">+381</option>
                                    <option value="382">+382</option>
                                    <option value="385">+385</option>
                                    <option value="386">+386</option>
                                    <option value="387">+387</option>
                                    <option value="389">+389</option>
                                    <option value="420">+420</option>
                                    <option value="421">+421</option>
                                    <option value="423">+423</option>
                                    <option value="500">+500</option>
                                    <option value="501">+501</option>
                                    <option value="502">+502</option>
                                    <option value="503">+503</option>
                                    <option value="504">+504</option>
                                    <option value="505">+505</option>
                                    <option value="506">+506</option>
                                    <option value="507">+507</option>
                                    <option value="508">+508</option>
                                    <option value="509">+509</option>
                                    <option value="590">+590</option>
                                    <option value="591">+591</option>
                                    <option value="592">+592</option>
                                    <option value="593">+593</option>
                                    <option value="594">+594</option>
                                    <option value="595">+595</option>
                                    <option value="596">+596</option>
                                    <option value="597">+597</option>
                                    <option value="598">+598</option>
                                    <option value="599">+599</option>
                                    <option value="672">+672</option>
                                    <option value="673">+673</option>
                                    <option value="674">+674</option>
                                    <option value="675">+675</option>
                                    <option value="676">+676</option>
                                    <option value="677">+677</option>
                                    <option value="678">+678</option>
                                    <option value="679">+679</option>
                                    <option value="681">+681</option>
                                    <option value="682">+682</option>
                                    <option value="683">+683</option>
                                    <option value="685">+685</option>
                                    <option value="686">+686</option>
                                    <option value="687">+687</option>
                                    <option value="688">+688</option>
                                    <option value="689">+689</option>
                                    <option value="691">+691</option>
                                    <option value="692">+692</option>
                                    <option value="850">+850</option>
                                    <option value="852">+852</option>
                                    <option value="853">+853</option>
                                    <option value="855">+855</option>
                                    <option value="856">+856</option>
                                    <option value="880">+880</option>
                                    <option value="886">+886</option>
                                    <option value="960">+960</option>
                                    <option value="961">+961</option>
                                    <option value="962">+962</option>
                                    <option value="963">+963</option>
                                    <option value="964">+964</option>
                                    <option value="965">+965</option>
                                    <option value="966">+966</option>
                                    <option value="967">+967</option>
                                    <option value="968">+968</option>
                                    <option value="970">+970</option>
                                    <option value="971">+971</option>
                                    <option value="972">+972</option>
                                    <option value="973">+973</option>
                                    <option value="974">+974</option>
                                    <option value="975">+975</option>
                                    <option value="976">+976</option>
                                    <option value="977">+977</option>
                                    <option value="992">+992</option>
                                    <option value="993">+993</option>
                                    <option value="994">+994</option>
                                    <option value="995">+995</option>
                                    <option value="996">+996</option>
                                    <option value="998">+998</option>
                                    <option value="1242">+1242</option>
                                    <option value="1246">+1246</option>
                                    <option value="1264">+1264</option>
                                    <option value="1268">+1268</option>
                                    <option value="1284">+1284</option>
                                    <option value="1340">+1340</option>
                                    <option value="1345">+1345</option>
                                    <option value="1441">+1441</option>
                                    <option value="1473">+1473</option>
                                    <option value="1649">+1649</option>
                                    <option value="1664">+1664</option>
                                    <option value="1670">+1670</option>
                                    <option value="1671">+1671</option>
                                    <option value="1684">+1684</option>
                                    <option value="1758">+1758</option>
                                    <option value="1767">+1767</option>
                                    <option value="1784">+1784</option>
                                    <option value="1787">+1787</option>
                                    <option value="1808">+1808</option>
                                    <option value="1809">+1809</option>
                                    <option value="1829">+1829</option>
                                    <option value="1868">+1868</option>
                                    <option value="1869">+1869</option>
                                    <option value="1876">+1876</option>
                                    <option value="1907">+1907</option>
                                    <option value="1939">+1939</option>
                                    <option value="2693">+2693</option>
                                    <option value="2697">+2697</option>
                                </select>
                            </div>
                            <div class="col-md-9" style="padding: 0;">
                                <label for="txtteli" style="color: #000">Telefonunuz</label>
                                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="50" class="form-control" id="txtteli" required="required" placeholder="Telefonunuz" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtemail" style="color: #000; margin-top: 14px;">E Mail adresiniz</label>
                            <input type="email" class="form-control" id="txtemail" maxlength="50" required="required" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label for="dropkonu" style="color: #000">Konu</label>
                            <select name="dropkonu" id="dropkonu" class="form-control">
                                <option value="Yurt İçi Otel">Yurt İçi Otel</option>
                                <option value="Yurt Dışı Otel">Yurt Dışı Otel</option>
                                <option value="Yurt İçi Tur">Yurt İçi Tur</option>
                                <option value="Yurt Dışı Tur">Yurt Dışı Tur</option>
                                <option value="Gemi Turları">Gemi Turları</option>
                                <option value="Fuar Turları">Fuar Turları</option>
                                <option value="Mavi Yolculuk">Mavi Yolculuk</option>
                                <option value="Bilet Departmanı">Bilet Departmanı</option>
                                <option value="Yurt Dışı Dil Eğitimi">Yurt Dışı Dil Eğitimi</option>
                                <option value="Kongre Organizasyonu">Kongre Organizasyonu</option>
                                <option value="Toplantı Organizasyonu">Toplantı Organizasyonu</option>
                                <option value="Vize İşlemleri">Vize İşlemleri</option>
                                <option value="Konser Organizasyonu">Konser Organizasyonu</option>
                                <option value="Bayi Gezileri">Bayi Gezileri</option>
                                <option value="Muhasebe Departmanı">Muhasebe Departmanı</option>
                                <option value="Web sitesi Sorun/Öneri">Web sitesi Sorun/Öneri</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" style="padding: 0; padding-right: 5px">
                                <label for="txttarih" style="color: #000">Arama tarihi</label>
                                <select class="form-control" id="txttarih" onchange="saraylimclick();" runat="server">
                                    <option>Bugün</option>
                                    <option>Yarın</option>

                                </select>
                            </div>
                            <div class="col-md-6" style="padding: 0;">
                                <label for="txtsaat" style="color: #000">Arama zamanı</label>
                                <select class="form-control" id="txtsaat" runat="server"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cbbizitakipedin" style="cursor: pointer">
                                <input type="checkbox" id="cbbizitakipedin" name="cbkampanya" runat="server" checked="checked" />
                                Fırsat ve kampanyalardan haberdar olmak istiyorum.
                            </label>
                        </div>
                        <div class="g-recaptcha" data-callback="enableBtn" data-sitekey="6LeS5goTAAAAAEZ-8fSwmgODffvmWzzybnKEy0NW"></div>
                        <hr />

                        <input type="button" class="btn btn-success" id="btnsarayalimgonder" onclick="ajaxgonder();" value="GÖNDER " />

                    </div>
                    <div id="sarayalimkayitbasarili" class="hidden">
                        Merhaba
                        <label style="font-weight: bold" id="lbladsoyadsiziarayalim"></label>

                        <br />
                        Arama isteğiniz tarafımıza ulaşmıştır.<br />

                        <label style="font-weight: bold" id="lbltelefonsiziarayalim"></label>
                        nolu numaranızdan
                        <label style="font-weight: bold" id="lbltarihsiziarayalim"></label>
                        saat
                        <label style="font-weight: bold" id="lblsaatsiziarayalim"></label>
                        arası

                        <label style="font-weight: bold" id="lblkonusiziarayalim"></label>
                        müşteri temsilcimiz sizinle iletişime geçecektir.<br />
                        <img src="/ThemeFiles/images/Logo.png" />

                    </div>
                    <div id="talepyukleniyor" style="display: none" align="center">

                        <br />

                        <img src="/ThemeFiles/images/salturyukleniyor.gif" style="display: block; margin: 0 auto;" id="loading-indicator" />
                        <br />
                        <h4>Lütfen bekleyin..Talep gönderiliyor..</h4>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <style type="text/css">
        #modalSiziArayalim .form-control {
            border: 1px solid #ccc !important;
        }
    </style>
    
    <!-- Javascript -->

    <script src="~/Content/assest/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/assest/js/jquery.noconflict.js"></script>

    <script src="~/Content/assest/js/modernizr.2.7.1.min.js"></script>
    <script src="~/Content/assest/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/assest/js/jquery.placeholder.js"></script>
    <script src="~/Content/assest/js/jquery-ui.1.10.4.min.js"></script>

    <!-- Twitter Bootstrap -->
    <script src="~/Content/assest/js/bootstrap.js"></script>

    <!-- load revolution slider scripts -->
    <script src="~/Content/assest/components/revolution_slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/assest/components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- load BXSlider scripts -->
    <script src="~/Content/assest/components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- load FlexSlider scripts -->
    <script src="~/Content/assest/components/flexslider/jquery.flexslider-min.js"></script>

    <!-- Google Map Api -->
    <!--<script src="~/Content/assest/js/googlemapapi.js"></script>
    <script src="~/Content/assest/js/gmap3.min.js"></script>-->
    <!-- parallax -->
    <script src="~/Content/assest/js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script src="~/Content/assest/js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script src="~/Content/assest/js/theme-scripts.js"></script>
    <script src="~/Content/assest/js/scripts.js"></script>
    <!-- Latest compiled and minified CSS -->

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css'>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js'></script>

    https://www.jqueryscript.net/demo/User-Friendly-Number-Input-Spinner-with-jQuery-Bootstrap/bootstrap-number-input.js
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script type="text/javascript">
       

        tjq(document).ready(function () {
            tjq("input[class='bsnumber']").inputSpinner();
            tjq('.revolution-slider').revolution(
                {
                    sliderType: "standard",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "on",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style: "default",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1170,
                    gridheight: 500,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            tjq('.selectpicker').selectpicker();

        });
 
 
    </script>
    <script src="~/Content/assest/input-spinner/bootstrap-input-spinner.js"></script>

    <script>
        
        var $changedInput = tjq("#dropCocukSayisi")
        $changedInput.on("change", function (event) {
        
            var cocukSayisi = tjq("#dropCocukSayisi_MP_cBdLN29i2").val();
            if (cocukSayisi === "1") {
                tjq("#td_cocukYas1").show();
                tjq("#td_cocukYas2").hide();
            }
            else if (cocukSayisi === "2") {
                tjq("#td_cocukYas1").show();
                tjq("#td_cocukYas2").show();
            }
            else {
                tjq("#td_cocukYas1").hide();
                tjq("#td_cocukYas2").hide();
            }
        });
        function YetiskinCocukSec() {
            tjq("#csecim").show();
           
        }
        tjq(document).mouseup(function (e) {
            var container = tjq("#csecim");

            // If the target of the click isn't the container
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.hide();
            }
        });

    </script>
    <script src="~/Content/assest/image-gallery/sliderengine/amazingslider.js"></script>
    <link href="~/Content/assest/image-gallery/sliderengine/amazingslider-1.css" rel="stylesheet" />
    <script src="~/Content/assest/image-gallery/sliderengine/initslider-1.js"></script>
    <script src="~/Areas/Files/cjs/SiziArayalim.js"></script>
    <link href="~/Content/assest/autocompsearch/content/styles.css" rel="stylesheet" />
    <script src="~/Content/assest/autocompsearch/src/jquery.autocomplete.js"></script>
    <script src="~/Content/assest/autocompsearch/scripts/demo.js"></script>


</body>
</html>
