
@{
    ViewBag.Title = "Cookie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="font-family: 'Times New Roman',sans-serif !important;">
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt">Cookie&rsquo;ler ve Diğer Teknolojiler</span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">www.becomingtur.com web sitesi, online servisleri, interaktif uygulamaları, e-posta mesajları ve reklamları, cookie&rsquo;leri ve diğer teknolojileri kullanabilmektedir. Bu teknolojiler size en kaliteli hizmeti sağlamak, davranışlarınızı daha iyi anlamak ve hizmetlerimizi daha kolay sunmak amacıyla kullanılmaktadır.</span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Cookie&rsquo;ler ve diğer teknolojiler web sitemizi ziyaret ettiğiniz zaman kişisel bilgilerinizi anımsatır. Bununla amacımız size kullanım kolaylığı sağlamak, vermiş olduğunuz siparişlere ulaşabilmenizi sağlamak ve bir sonraki ziyaretinizde sizi ve kişisel bilgilerinizi anımsayarak size daha &ouml;zel bir hizmet sunabilmektir. İstenildiği takdirde cookie&rsquo;leri bilgisayarınızdan silebilir ya da engelleyebilirsiniz.</span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Cookie&rsquo;ler kullanıcı davranışlarını anlamak, &uuml;yelerimizin web sitemizin hangi b&ouml;l&uuml;mlerini ziyaret ettiklerini g&ouml;stermekte reklamların ve web aramalarının etkinliğini &ouml;l&ccedil;mektedir. www.becomingtur.com, bu bilgileri pazarlama ve reklam hizmetlerinde de kullanabilecektir.</span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Kişisel Bilgilerin Kullanımı</span></span></p>

            <ul>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">BECOMING TUR, gerekli g&ouml;rd&uuml;ğ&uuml;nde kullanıcıların kişisel bilgilerini yapılan işlemlerle ilgili olarak veya işbirliği i&ccedil;inde olduğu kişiler tarafından doğrudan pazarlama yapmak amacıyla kullanabilir. Site tarafından talep edilen bilgiler veya kullanıcı tarafından sağlanan bilgiler veya site &uuml;zerinden yapılan işlemlerle ilgili bilgiler, BECOMING TUR ve işbirliği i&ccedil;inde olduğu kişiler tarafından, site&rsquo;nin &uuml;yeleri ve işletmeler ile yaptığı s&ouml;zleşmeler ile belirlenen ama&ccedil;lar ve kapsam dışında olsa dahi, kullanıcının kimliği ifşa edilmeden, &ccedil;eşitli istatistiksel değerlendirmeler yapmak, veritabanı oluşturmak veya pazar araştırmaları yapmak i&ccedil;in kullanılabilir.</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">5651 sayılı kanun gereği, hizmet ve i&ccedil;erikleri barındıran sistemi sağlayan ve işleten kişi olarak, sistemle ilgili sorunların tanımlanması ve site&rsquo;de &ccedil;ıkabilecek sorunların giderilebilmesi i&ccedil;in, BECOMING TUR gerektiğinde kullanıcıların IP adreslerini tespit etmekte ve bunu kullanmaktadır. IP adresleri, kullanıcıları genel bir şekilde tanımlamak ve kapsamlı demografik bilgi toplamak amacıyla da kullanılabilir.</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">BECOMING TUR, site d&acirc;hilinde başka sitelere link verebilir. BECOMING TUR, link vasıtasıyla erişilen sitenin gizlilik uygulamaları ve i&ccedil;eriklerine y&ouml;nelik herhangi bir sorumluluk taşımamaktadır.</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">BECOMING TUR, işbu Gizlilik Politikası&rsquo;nda aksi belirtilmedik&ccedil;e ve aşağıda belirtilen sınırlı durumlar haricinde, işbirliği i&ccedil;inde olmadığı şirketlere ve &uuml;&ccedil;&uuml;nc&uuml; kişilere kullanıcılara ait bilgileri a&ccedil;ıklamayacaktır.</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Bu durumlar;</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Yetkili hukuki otoriteler tarafından &ccedil;ıkarılan ve y&uuml;r&uuml;rl&uuml;kte olan Kanun, Kanun H&uuml;km&uuml;nde Kararname, Y&ouml;netmelik v.b. hukuk kurallarının getirdiği zorunluluklara uyulması,</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">BECOMING TUR&rsquo;un &uuml;yeleri ve İşletmeler ile yaptığı s&ouml;zleşmelerin gereklerinin yerine getirilmesi ve bunların uygulamaya konulması,</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Yetkili idari veya adli otoriteler tarafından, usul&uuml;ne g&ouml;re y&uuml;r&uuml;t&uuml;len bir araştırma veya soruşturmanın y&uuml;r&uuml;t&uuml;lmesi amacıyla, kullanıcılarla ilgili bilgi talep edilmesi,</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Kullanıcıların hakları veya g&uuml;venliklerini korumak i&ccedil;in bilgi verilmesi halleridir.</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">BECOMING TUR&rsquo;un gerekli bilgi g&uuml;venliği &ouml;nlemlerini almasına karşın, Web Sitesine ve sisteme yapılan saldırılar sonucunda gizli bilgilerin zarar g&ouml;rmesi veya &uuml;&ccedil;&uuml;nc&uuml; kişilerin eline ge&ccedil;mesi durumunda, BECOMING TUR&rsquo;un herhangi bir sorumluluğu olmayacaktır.</span></span></li>
                <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">BECOMING TUR, işbu Gizlilik Politikası h&uuml;k&uuml;mlerini, dilediği zaman Web Sitesinde yayınlamak suretiyle, tek taraflı olarak değiştirebilir. BECOMING TUR&rsquo;un değişiklik yaptığı Gizlilik Politikası h&uuml;k&uuml;mleri, Web Sitesinde yayınlandığı tarihte y&uuml;r&uuml;rl&uuml;ğe girer.</span></span></li>
            </ul>



        </div>
    </div>
</div>