@model Hotel_Ecommerce.Areas.Admin.Model.OtelEklemeveGuncelleme
@{
    ViewBag.Title = "CreateHotel";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string sessionID = Guid.NewGuid().ToString();

}

@*<link href="~/Areas/Files/css/cblistcss.css" rel="stylesheet" />*@
<style>
    .cbgroup input, label {
        cursor: pointer;
    }

    .modal-dialog {
        width: 75%;
        margin: 0 auto;
    }
</style>

<div class="row" style="background-color: #fff; padding-top: 60px;">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="form-inline">
                <input type="button" class="btn btn-danger" id="btnProductGallery" value="Otel Görseli Seç" data-toggle="modal" data-target="#galleryModal" />
            </div>
        </div>
    </div>

    <div class="col-xs-6 form-group">
        <label>Otel Adı:</label>
        <input class="form-control" maxlength="100" id="txtoteladi" placeholder="Örn:Sentido Turan Prince" type="text" />
    </div>
    <div class="col-xs-6 form-group">
        <label>Otel Bölgesi</label>
        <select class="form-control" id="dropotelbolgesi">
            <option value="Yurt İçi Otelleri">Yurt İçi Otelleri</option>
            <option value="Kıbrıs Otelleri">Kıbrıs Otelleri</option>
            <option value="Yurt Dışı Otelleri">Yurt Dışı Otelleri</option>
        </select>
    </div>
    <div class="col-xs-12">
        <label>Otel Kısa Bilgi</label>
        <input type="text" class="form-control" placeholder="Otel hakkında kısa bilgi giriniz." maxlength="150" id="txtotelkisabilgi" />
    </div>
    <div class="col-xs-6">
        <div class="row">
            &nbsp
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <label class="col-xs-12">Otel İl</label>
                <input class="form-control" type="text" maxlength="50" id="txtotelil" placeholder="Örn:Antalya" />
            </div>
            <div class="col-xs-12 col-sm-6">
                <label class="col-xs-12">Otel İlçe</label>
                <input class="form-control" type="text" maxlength="50" id="txtotelilce" placeholder="Örn: Side-Merkez" />
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            &nbsp
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <label class="col-xs-12">Otel Div Bilgisi</label>
                <input class="form-control" type="text" maxlength="250" placeholder="Örn: 0-6 Yaş Çocuk Ücretsiz" id="txtoteldivbilgi" />
            </div>
            <div class="col-xs-12 col-sm-6">
                <label class="col-xs-12">Otel Önceliği</label>
                <select class="form-control" id="dropoteloncelik">
                    <option value="Öncelik Yok">Öncelik Yok</option>
                    <option value="Öncelik Ver">Öncelik Ver</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <br />
        <label>Otel Konumu:</label>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUNeqnnpydeZHOAO4iEyH86CtXSh5JuAg&libraries=places"></script>

        <input type="text" id="autocomplete" class="form-control" />

        <script>
            var input = document.getElementById('autocomplete');
            var autocomplete = new google.maps.places.Autocomplete(input);
        </script>
        @*<a style="color: Blue; float: right; cursor: pointer" data-toggle="modal" data-target="#myModalkonum">Aradığım otel'i bulamıyorum</a>
            <input class="form-control" id="txtkonum" maxlength="50" placeholder="Otel adı ile arayabilirsiniz." type="text" />*@

        <hr />
    </div>

    <div class="col-xs-12 col-xs-4 cbgroup">
        <label>Otel Konaklama Tip(ler)ini seçin:</label><br />
        <input type="checkbox" id="cbkt1" name="OtelKonaklamaTipleri[]" /><label for="cbkt1">&nbsp Yalnız Oda</label><br />
        <input type="checkbox" id="cbkt2" name="OtelKonaklamaTipleri[]" /><label for="cbkt2">&nbsp Oda kahvaltı</label><br />
        <input type="checkbox" id="cbkt3" name="OtelKonaklamaTipleri[]" /><label for="cbkt3">&nbsp Yarım pansiyon</label><br />
        <input type="checkbox" id="cbkt4" name="OtelKonaklamaTipleri[]" /><label for="cbkt4">&nbsp Yarım pansiyon plus</label><br />
        <input type="checkbox" id="cbkt5" name="OtelKonaklamaTipleri[]" /><label for="cbkt5">&nbsp Tam pansiyon</label><br />
        <input type="checkbox" id="cbkt6" name="OtelKonaklamaTipleri[]" /><label for="cbkt6">&nbsp Tam pansiyon plus</label><br />
        <input type="checkbox" id="cbkt7" name="OtelKonaklamaTipleri[]" /><label for="cbkt7">&nbsp Her şey dahil</label><br />
        <input type="checkbox" id="cbkt8" name="OtelKonaklamaTipleri[]" /><label for="cbkt8">&nbsp Her şey dahil plus</label><br />
        <input type="checkbox" id="cbkt9" name="OtelKonaklamaTipleri[]" /><label for="cbkt9">&nbsp Ultra her şey dahil</label>
    </div>
    <div class="col-xs-12 col-xs-3">
        <label>Otel Sezonu ?</label><br />
        <input type="checkbox" id="cbos1" name="OtelSezonu[]" /><label for="cbos1">&nbsp Yaz Sezonu</label><br />
        <input type="checkbox" id="cbos2" name="OtelSezonu[]" /><label for="cbos2">&nbsp Kış Sezonu</label><br />

    </div>
    <div class="col-xs-12 col-xs-5">
        <label>Şehir Oteli mi ?</label>
        <br />
        <input type="checkbox" id="cbSehirOteliMi" /><label for="cbso1">&nbsp Evet</label><br />
    </div>
    <style>
        td {
            min-width: 230px;
        }
    </style>


    <div class="col-xs-12">
        <hr />
        <label>Otel Özelliklerini Seçiniz:<span class="mandatory">*</span></label><br />

        <table>
            <tr>
                <td><label for="cbotel_1"> <input type="checkbox" id="cbotel_1" name="OtelOzellikleri[]" value="Aqua Park" />&nbsp Aqua Park</label><br /></td>
                <td> <label for="cbotel_2"><input type="checkbox" id="cbotel_2" name="OtelOzellikleri[]" value="Casino" />&nbsp Casino</label><br /></td>
                <td> <label for="cbotel_3"><input type="checkbox" id="cbotel_3" name="OtelOzellikleri[]" value="Buhar Odası" />&nbsp Buhar Odası</label><br /></td>
                <td> <label for="cbotel_4"><input type="checkbox" id="cbotel_4" name="OtelOzellikleri[]" value="Sauna" />&nbsp Sauna</label><br /></td>
            </tr>
            <tr>
                <td><label for="cbotel_5"> <input type="checkbox" id="cbotel_5" name="OtelOzellikleri[]" value="Otopark" />&nbsp Otopark</label><br /></td>
                <td><label for="cbotel_6"> <input type="checkbox" id="cbotel_6" name="OtelOzellikleri[]" value="Kablosuz İnternet" />&nbsp Kablosuz İnternet</label><br /></td>
                <td><label for="cbotel_7"> <input type="checkbox" id="cbotel_7" name="OtelOzellikleri[]" value="Hamam" />&nbsp Hamam</label><br /></td>
                <td><label for="cbotel_8"> <input type="checkbox" id="cbotel_8" name="OtelOzellikleri[]" value="Açık Havuz" />&nbsp Açık Havuz</label><br /></td>
            </tr>
            <tr>
                <td><label for="cbotel_9">  <input type="checkbox" id="cbotel_9" name="OtelOzellikleri[]" value="Toplantı Salonu" /> &nbsp Toplantı Salonu</label><br /></td>
                <td><label for="cbotel_10"> <input type="checkbox" id="cbotel_10" name="OtelOzellikleri[]" value="Doktor" />&nbsp Doktor</label><br /></td>
                <td><label for="cbotel_11"> <input type="checkbox" id="cbotel_11" name="OtelOzellikleri[]" value="Emanet Kasa" />&nbsp Emanet Kasa</label><br /></td>
                <td><label for="cbotel_12"> <input type="checkbox" id="cbotel_12" name="OtelOzellikleri[]" value="Oyun Salonu" />&nbsp Oyun Salonu</label><br /></td>
            </tr>
            <tr>

                <td><label for="cbotel_13">  <input type="checkbox" id="cbotel_13" name="OtelOzellikleri[]" value="Animasyon" />&nbsp Animasyon</label><br /></td>
                <td><label for="cbotel_14">  <input type="checkbox" id="cbotel_14" name="OtelOzellikleri[]" value="Kapalı Havuz" />&nbsp Kapalı Havuz</label><br /></td>
                <td><label for="cbotel_15">  <input type="checkbox" id="cbotel_15" name="OtelOzellikleri[]" value="Fitness Center" />&nbsp Fitness Center</label><br /></td>

            </tr>
            <tr>

                <td> <label for="cbotel_16"> <input type="checkbox" id="cbotel_16" name="OtelOzellikleri[]" value="Motorlu Su Sporları" />&nbsp Motorlu Su Sporları</label><br /></td>
                <td> <label for="cbotel_17"> <input type="checkbox" id="cbotel_17" name="OtelOzellikleri[]" value="Şezlong" />&nbsp Şezlong</label><br /></td>
                <td> <label for="cbotel_18"> <input type="checkbox" id="cbotel_18" name="OtelOzellikleri[]" value="Masaj" />&nbsp Masaj</label><br /></td>

            </tr>
        </table>

    </div>



    <div class="col-xs-12">
        <hr />
        <label>Oda Özelliklerini Seçiniz:<span class="mandatory">*</span></label><br />
        <table>
            <tr>
                <td><input type="checkbox" id="cboteloda_1" name="OdaOzellikleri[]" /><label for="cboteloda_1">&nbsp Açık Büfe Kahvaltı</label><br /></td>
                <td><input type="checkbox" id="cboteloda_2" name="OdaOzellikleri[]" /><label for="cboteloda_2">&nbsp Odaya Servis</label><br /></td>
                <td><input type="checkbox" id="cboteloda_3" name="OdaOzellikleri[]" /><label for="cboteloda_3">&nbsp LCD Smart TV & Uydu Yayını</label><br /></td>
                <td><input type="checkbox" id="cboteloda_4" name="OdaOzellikleri[]" /><label for="cboteloda_4">&nbsp Duş </label><br /></td>


            </tr>
            <tr>
                <td><input type="checkbox" id="cboteloda_5" name="OdaOzellikleri[]" /><label for="cboteloda_5">&nbsp Otel genelinde ücretsiz WIFI</label><br /></td>
                <td><input type="checkbox" id="cboteloda_6" name="OdaOzellikleri[]" /><label for="cboteloda_6">&nbsp Uyandırma Servisi</label><br /></td>
                <td><input type="checkbox" id="cboteloda_7" name="OdaOzellikleri[]" /><label for="cboteloda_7">&nbsp Odaya ücretsiz kahvaltı servisi</label><br /></td>
                <td><input type="checkbox" id="cboteloda_8" name="OdaOzellikleri[]" /><label for="cboteloda_8">&nbsp Telefon</label><br /></td>


            </tr>
            <tr>
                <td><input type="checkbox" id="cboteloda_9" name="OdaOzellikleri[]" /><label for="cboteloda_9">&nbsp Günlük Oda Temizliği</label><br /></td>
                <td><input type="checkbox" id="cboteloda_10" name="OdaOzellikleri[]" /><label for="cboteloda_10">&nbsp Saç kurutma makinası</label><br /></td>
                <td><input type="checkbox" id="cboteloda_11" name="OdaOzellikleri[]" /><label for="cboteloda_11">&nbsp Havlu</label><br /></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="cboteloda_12" name="OdaOzellikleri[]" /><label for="cboteloda_12">&nbsp Tekstil ürünlerinin değişimi</label><br /></td>
                <td><input type="checkbox" id="cboteloda_13" name="OdaOzellikleri[]" /><label for="cboteloda_13">&nbsp Klima</label><br /></td>
                <td><input type="checkbox" id="cboteloda_14" name="OdaOzellikleri[]" /><label for="cboteloda_14">&nbsp Banyo</label><br /></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="cboteloda_15" name="OdaOzellikleri[]" /><label for="cboteloda_15">&nbsp Odada kasa</label><br /></td>
                <td><input type="checkbox" id="cboteloda_16" name="OdaOzellikleri[]" /><label for="cboteloda_16">&nbsp Jakuzi</label><br /></td>
                <td><input type="checkbox" id="cboteloda_17" name="OdaOzellikleri[]" /><label for="cboteloda_17">&nbsp Minibar</label><br /></td>
            </tr>

        </table>

    </div>

    <div class="col-xs-12">
        <hr />
        <label>Otel Programı</label>
        <input id="hiddenCkEditor" type="hidden" class="ckeditor" name="ckeditorOtelProgrami">
    </div>
    <div class="col-xs-12">
        <hr />
        <label>Oda Programı</label>
        <input id="hiddenCkEditor" type="hidden" class="ckeditor" name="ckeditorOdaProgrami">

    </div>
    <div class="col-xs-12">
        <div style="float: right; margin-top: 20px;">
            <input type="button" onclick="AjaxOtelEkle()" value="Devam et" class="btn btn-success" />

        </div>
    </div>
</div>
<input type="hidden" id="hiddenGallerySession" value="@sessionID" />
<!-- Modal -->
<div id="galleryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">

                <iframe width="100%" height="600px" src="/Filemanager/index.html?fileRoot=~/Content/gallery/uploads/&serverRoot=true&serverMode=false&useFileTable=false&langCode=tr&sessionID=@sessionID"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Galeriyi Kapat</button>
            </div>
        </div>

    </div>
</div>
<script src="~/Areas/Files/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    var ckeditorOtelProgrami = CKEDITOR.replace('ckeditorOtelProgrami');
    var ckeditorOdaProgrami = CKEDITOR.replace('ckeditorOdaProgrami');

</script>
<script type="text/javascript">
    function AjaxOtelEkle() {
        //var oteladi = $('#txtoteladi').val();
        //var otelkisabilgi = $('#txtotelkisabilgi').val();
        //var otelbolgesi = $('#dropotelbolgesi').val();
        //var otelil = $('#txtotelil').val();
        //var otelilce = $('#txtotelilce').val();
        //var oteldivbilgi = $("#txtoteldivbilgi").val();
        //var oteloncelik = $('#dropoteloncelik').val();
        //var otelkonumu = document.getElementById('<%= hiddengooglemapx.ClientID%>').value + "," + document.getElementById('<%= hiddengooglemapy.ClientID%>').value;
        //var konaklamatipleri = "";
        //$(function () {

        //    var cbsecilenkonaklamalar = $("[id*=ContentPlaceHolder1_cbkonaklamatipleri] input:checked");
        //    cbsecilenkonaklamalar.each(function () {
        //        var value = $(this).val();
        //        var text = $(this).closest("td").find("label").html();
        //        konaklamatipleri += text + ",";

        //    });
        //    return false;
        //});
        //var sezon = "";
        //$(function () {
        //    var cbsecilensezon = $("[id*=ContentPlaceHolder1_cbsezon] input:checked");
        //    cbsecilensezon.each(function () {
        //        var value = $(this).val();
        //        var text = $(this).closest("td").find("label").html();
        //        sezon += text + ",";

        //    });
        //    return false;
        //});

        //var sehirotelimi = "";
        //$(function () {
        //    var cbsehirotelimisecildi = $("[id*=ContentPlaceHolder1_cbsehiroteli] input:checked");
        //    cbsehirotelimisecildi.each(function () {
        //        var value = $(this).val();
        //        var text = $(this).closest("td").find("label").html();
        //        sehirotelimi += text + ",";

        //    });
        //    return false;
        //});
        //var otelsehirotelimi = "";
        //if (sehirotelimi == "Şehir Oteli,") {
        //    otelsehirotelimi = "Evet";
        //}
        //else {
        //    otelsehirotelimi = "Hayır";
        //}

        var otelozellikleri = [];

        $("input[name='OtelOzellikleri[]']").each(function () {
            otelozellikleri += $(this).val() + ",";
        });

        console.log(otelozellikleri);

        //var checked = [];

        //$('#searchFilter [name="price[]"]:checked').each(function (i, e) {
        //    checked.push($(this).val());
        //});

        //alert(checked.join(','));

        //var odaozellikleri = [];

        //$('[name="OdaOzellikleri[]"]:checked').each(function (checkbox) {
        //    otelozellikleri += checkbox + ",";

        //});


        //var otelprogrami = CKEDITOR.instances['ckeditorOtelProgrami'].getData();
        //var odaprogrami = CKEDITOR.instances['ckeditorOdaProgrami'].getData();
        console.log(otelozellikleri);
        console.log(odaozellikleri);
        //console.log(otelprogrami);
        //console.log(odaprogrami);
        //$.ajax({
        //    type: "POST",
        //    url: "/webpanel/Handler/OtelEkle.ashx",
        //    data: { oteladi: oteladi, otelbolgesi: otelbolgesi, otelil: otelil, otelilce: otelilce, oteldivbilgi: oteldivbilgi, oteloncelik: oteloncelik, otelkonumu: otelkonumu, konaklamatipleri: konaklamatipleri, otelsehirotelimi: otelsehirotelimi, otelozellikleri: otelozellikleri, odaozellikleri: odaozellikleri, otelprogrami: otelprogrami, odaprogrami: odaprogrami, otelsezonu: sezon, otelkisabilgi: otelkisabilgi },
        //    dataType: "json",
        //    beforeSend: function () {
        //    },
        //    success: function (deger) {
        //        if (deger.islem == "onaylandi") {
        //            $("#imgmodal").attr("src", "/webpanel/images/basarili.png");
        //            $('#<%=lblonaydurumu.ClientID%>').html("Otel ekleme işleminiz tamamlandı.");
        //            $('#<%=lblmodalbaslik.ClientID%>').html("Otel ekleme işleminiz tamamlandı.");
        //            $('.modal-header').css('background-color', '#008b8b');
        //            $('#myModalAlert').modal('show');
        //        }
        //        else if (deger.islem == "boşkayit") {
        //            $("#imgmodal").attr("src", "/webpanel/images/bosalan.png");
        //            $('#<%=lblonaydurumu.ClientID%>').html("Tüm alanlar dolu olmalıdır.");
        //            $('#<%=lblmodalbaslik.ClientID%>').html("Üzgünüz,işleminiz tamamlanamadı.");
        //            $('.modal-header').css('background-color', '#d9534f');
        //            $('#myModalAlert').modal('show');

        //        }
        //        else if (deger.islem == "ayniotel") {
        //            $("#imgmodal").attr("src", "/webpanel/images/ayniotel.png");

        //            $('#<%=lblonaydurumu.ClientID%>').html("Sistem de aynı otel mevcut");
        //            $('#<%=lblmodalbaslik.ClientID%>').html("Üzgünüz,işleminiz tamamlanamadı.");
        //            $('.modal-header').css('background-color', '#d9534f');
        //            $('#myModalAlert').modal('show');

        //        }
        //        else if (deger.islem == "galeriyok") {
        //            $("#imgmodal").attr("src", "/webpanel/images/galery.png");
        //            $('#<%=lblonaydurumu.ClientID%>').html("Lütfen galeri seçimini tamamlayınız.");
        //            $('#<%=lblmodalbaslik.ClientID%>').html("Üzgünüz,işleminiz tamamlanamadı.");
        //            $('.modal-header').css('background-color', '#d9534f');
        //            $('#myModalAlert').modal('show');

        //        }
        //        else {
        //            $("#imgmodal").attr("src", "/webpanel/images/error.png");
        //            $('#<%=lblonaydurumu.ClientID%>').html("Bilgi işlem ile irtibata geçiniz.");
        //            $('#<%=lblmodalbaslik.ClientID%>').html("Sistem hatası !.");
        //            $('.modal-header').css('background-color', '#d9534f');
        //            $('#myModalAlert').modal('show');
        //        }
        //    }
        //});
    }
</script>