
@{
    ViewBag.Title = "KullaniciSözlesmesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style type="text/css">
    body {
        background-color: #f7f7f7;
    }
</style>*@
<div class="container" style="font-family: 'Times New Roman',sans-serif !important;">
    <div class="row">
        <div class="col-md-12">

            <br />
            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt">KULLANICI S&Ouml;ZLEŞMESİ</span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in; text-align:center">&nbsp;</p>

            <ul>
                <li><strong>1. Taraflar</strong></li>
                <li>www.becomingtur.com internet sitesinin faaliyetlerini y&uuml;r&uuml;ten</li>
                <li>Cumhuriyet Mh. Atat&uuml;rk Bulv. No 91/29 &Ccedil;ankaya / Ankara / T&uuml;rkiye adresinde mukim ALPASYA SEYAHAT ACENTELİĞİ TURİZM ORG. TRAN. OTO KİR. İ&Ccedil; VE DIŞ TİC. LTD. ŞTİ (Bundan b&ouml;yle &ldquo;BECOMING TUR&rdquo; olarak anılacaktır).</li>
                <li>www.becomingtur.com internet sitesine &uuml;ye olan internet kullanıcısı (Bundan b&ouml;yle &ldquo;&Uuml;YE/KULLANICI&rdquo; olarak anılacaktır)</li>
                <li><strong>2. S&ouml;zleşmenin Konusu</strong></li>
                <li>İşbu S&ouml;zleşme&rsquo;nin konusu BECOMING TUR&rsquo;un sahip olduğu www.becomingtur.com adlı internet sitesinden &uuml;yenin faydalanma şartlarının belirlenmesidir. Bu s&ouml;zleşme, s&ouml;zleşmenin ge&ccedil;erli olduğu s&uuml;re boyunca &uuml;yenin kullandığı g&uuml;ncelleştirmeler de d&acirc;hil her t&uuml;rl&uuml; tatil, tur, u&ccedil;ak bileti, ara&ccedil; kiralama hizmetleri ve diğer sunulacak hizmetlere uygulanacaktır.</li>
                <li><strong>3. Web Sitesi İ&ccedil;eriği</strong></li>
                <li>www.becomingtur.com web sitesinde mevcut olan bilgilerin doğruluk ve g&uuml;ncelliği s&uuml;rekli şekilde kontrol edilmektedir. Ancak, web sitesindeki bilgiler fiili değişikliklerin gerisinde kalabilir ve bu sebeple ilgili hizmetin g&uuml;ncel durumu ile sitede yer alan durumu arasında farklılık olabilir. BECOMING TUR tarafından, web sitesindeki bilgilerin, g&uuml;ncelliği, doğruluğu, şartları, kalitesi, performansı, pazarlanabilirliği, belli bir amaca uygunluğu, tamlığı, bunlarla bağlantılı veya bağımsız diğer bilgi, hizmet veya &uuml;r&uuml;nlere etkisi hakkında herhangi bir sarih ya da zımni garanti verilmemekte ve taahh&uuml;tte bulunulmamaktadır. BECOMING TUR , web sitesi i&ccedil;eriğinde her t&uuml;rl&uuml; değişiklik ve yeniliği istediği anda yapabilir. Bu değişikliklerden dolayı doğabilecek hi&ccedil;bir rezervasyon, satış veya bilgi hatasından dolayı BECOMING TUR&rsquo;a sorumluluk y&uuml;klenemez.</li>
                <li><strong>4. Web Sitesinde Değişiklik Yapma Hakkı</strong></li>
                <li>BECOMING TUR , işbu web sitesi ve site uzantısında mevcut her t&uuml;r hizmet, &uuml;r&uuml;n, siteyi kullanma koşulları ile sitede sunulan bilgileri &ouml;nceden bir ihtara gerek olmaksızın değiştirme, siteyi yeniden organize etme, yayını durdurma hakkını saklı tutar. Değişiklikler sitede yayım anında y&uuml;r&uuml;rl&uuml;ğe girer ve sitenin kullanımı ya da siteye giriş ile bu değişiklikler de kabul edilmiş sayılır. Bu koşullar link verilen diğer web sayfaları i&ccedil;in de ge&ccedil;erlidir. Bu değişikliklerden dolayı doğabilecek hi&ccedil;bir rezervasyon, satış veya bilgi hatasından dolayı www.becomingtur.com web sitesi ve BECOMING TUR&rsquo;a sorumluluk y&uuml;klemez.</li>
                <li><strong>5. Web Sitelerine Verilen Bağlantılar (Linkler)</strong></li>
                <li>BECOMING TUR, www.becomingtur.com web sitesi &uuml;zerinden direkt ya da dolaylı yoldan diğer sitelere bağlantı (link) verilebilir. BECOMING TUR, link verilen sayfalardaki bilgilerin doğruluğunu garanti etmemekte ve bilgilerle ilgili herhangi bir taahh&uuml;tte, tavsiyede bulunmamaktadır. Bu siteleri kullanımla doğabilecek zararlar &uuml;yenin kendi sorumluluğundadır. BECOMING TUR , bu t&uuml;r link verilen sayfalara erişimi, kendi yazılı muvafakatine bağlayabileceği gibi, BECOMING TUR, uygun g&ouml;rmeyeceği linklere erişimi her zaman kesebilir.</li>
                <li><strong>6. Site Bilgileri</strong></li>
                <li>İşbirliği yapılan tedarik&ccedil;i ve/veya aracı kurumlardan alınarak BECOMING TUR &nbsp;web sitesi &uuml;zerinde ilan edilen bilgilerin doğruluğu konusunda azami &ouml;zen g&ouml;sterilir ancak alınan veya talep edilen hizmet ve olanakların belirtilen nitelik ve m&uuml;saitliği g&ouml;stermemesinden dolayı BECOMING TUR &nbsp;sorumlu tutulamaz. Otel ve otel odalarının BECOMING TUR &nbsp;web sitesinde g&ouml;sterilen fotoğrafları sadece genel bilgilendirme ama&ccedil;lı olup alınan oda tipiyle sitede yayınlanan fotoğraflar aynı kategoride olmayabilir. Pansiyon durumları, otel konseptleri, yıldız nitelikleri tesisten tesise ve &uuml;lkeden &uuml;lkeye farklılık g&ouml;sterir. Tadilat, bakım ve yenileme &ccedil;alışmaları tamamen ilgili otelin inisiyatifindedir ve tedarik&ccedil;iler/oteller, b&ouml;yle bir durumda oluşabilecek her t&uuml;rl&uuml; rahatsızlığı asgari d&uuml;zeyde tutma sorumluluğunu g&ouml;stereceklerdir.</li>
                <li>BECOMING TUR internet sitesinde, kullanıcının iptal hakkı saklı olmak &uuml;zere, herhangi bir aksaklıktan dolayı oluşabilecek eksik ya da yanlış fiyatlandırmalar(tedarik&ccedil;i ve/veya aracı kurumlardan kaynaklanan fiyatlandırma hataları da d&acirc;hil olmak &uuml;zere) s&ouml;z konusu olduğunda BECOMING TUR, &ouml;denmiş ya da &ouml;denecek olan ilgili fiyatı ve toplam tutarı d&uuml;zeltme yetkisini saklı tutar.</li>
                <li><strong>7. Rezarvasyon İptal veya Değişikliklerine İlişkin A&ccedil;ıklamalar</strong></li>
                <li>BECOMING TUR &uuml;zerinden yapılan her t&uuml;rl&uuml; hizmet işlemlerinde rezervasyon kuralları kabul edilmiş sayılır. T&uuml;m iptal ve değişiklikler, kullanıcıların rezervasyon sırasında kabul edilen ve s&ouml;zleşmede yer alan hizmet s&ouml;zleşmesi &ccedil;er&ccedil;evesinde yapılır.</li>
                <li>BECOMING TUR &uuml;zerinden alınan hizmetlerle ilgili, her aşamada BECOMING TUR ile bağlantıya ge&ccedil;ilecektir. Aksi takdirde kullanıcının, aracı firmadan yapacağı değişiklik, iptal, yeni rezervasyon ve farklı bir hizmet alması durumlarında BECOMING TUR sorumluluk kabul etmez.</li>
                <li><strong>8. BECOMING TUR bildirimleri ve Elektronik Bilgilere ilişkin KULLANICI onayı</strong></li>
                <li>Bu s&ouml;zleşme elektronik olarak imzalanmaktadır. BECOMING TUR&rsquo;un, kullanıcıya hizmetle ilgili taahh&uuml;t ettiği bilgileri g&ouml;nderme hakkı vardır. Kullanıcıya e-posta yoluyla g&ouml;nderilen bildirimlerin, e-postanın iletim tarihinde teslim edildiği ve alındığı varsayılır.</li>
                <li>Bu bilgiler;</li>
                <li>Kullanıcıların hizmete kaydolduğunda belirttiği e-posta adresine e-posta ile,</li>
                <li>Bilgi mevcut olduğunda kullanıcıya g&ouml;nderilen e-posta bildiriminde belirtilecek olan bir web sitesine erişim sureti ile,</li>
                <li>Bu ama&ccedil; i&ccedil;in genel olarak &ouml;nceden belirlenmiş bir web sitesine erişim sureti ile, g&ouml;nderilebilir.</li>
                <li><strong>9. Tarafların Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri</strong></li>
                <li>www.becomingtur.com sitesine &uuml;ye olan kullanıcı, verdiği t&uuml;m bilgilerin doğruluğunu garanti eder. Kullanıcı kendisine ait bilgilerden, yapılan t&uuml;m işlemlerden ve bu işlemlerden dolayı doğabilecek t&uuml;m sonu&ccedil;lardan sorumludur. 18 yaşından k&uuml;&ccedil;&uuml;klerin veya hacir altında bulunanların, iş bu web sitesine, velileri veya vasilerinden izin almaksızın bilgi sunmalarından ve işlem yapmalarından BECOMING TUR sorumlu tutulamaz.</li>
                <li>www.becomingtur.com web sitesinde; kullanıcı/ziyaret&ccedil;i tarafından internet &uuml;zerinden doldurularak g&ouml;nderilen formlar, chat ve &ouml;neri-şikayet sayfalarındaki g&ouml;nderilerin, tehdit, tahrik, rahatsız edici, ahlaka ve kanuna aykırı i&ccedil;erikte olmasından ve başkalarının kanuni ve kişisel haklarına zarar vermelerinin sonu&ccedil;larından kullanıcı/ziyaret&ccedil;i sorumlu olacaktır. Kullanıcı/ziyaret&ccedil;ilerin bu sayfaları kullanarak bir &uuml;r&uuml;n ya da hizmet satma, ticari ama&ccedil;lı reklam yapma ve benzeri ticari davranışlarda bulunma hakları yoktur.</li>
                <li>Kullanıcı web hizmeti alırken, ilgili Kanunlara, s&ouml;zleşmeye, bildirimlere uymak, hizmet hesabınızın parolasını gizli tutmak ve hizmete ilişkin bir g&uuml;venlik ihlalini fark ettiğinizde derhal BECOMING TUR&rsquo;a bildirmekle y&uuml;k&uuml;ml&uuml;d&uuml;r.</li>
                <li><strong>10. Fikri M&uuml;lkiyet Hakları</strong></li>
                <li>www.becomingtur.com adlı web sitesi&rsquo;nin sahibi ALPASYA SEYAHAT ACENTELİĞİ TURİZM ORG. TRAN. OTO KİR. İ&Ccedil; VE DIŞ TİC. LTD. ŞTİ&rsquo;dir. Bu sayfada bulunan bilgiler, yazılar, resimler, markalar, slogan ve diğer işaretler ile sair fikri m&uuml;lkiyet haklarına ilişkin bilgilerin korunmasına y&ouml;nelik programlarla, sayfa d&uuml;zeni ve işbu web sayfasının sunumu BECOMING TUR &lsquo;un ya da BECOMING TUR &rsquo; un lisans aldığı kuruluşların m&uuml;lkiyetindedir. BECOMING TUR&rsquo;dan &ouml;nceden yazılı muvafakat alınmaksızın, işbu web sayfasındaki bilgilerin ya da bu sayfaya ilişkin her t&uuml;r veritabanı, web sitesi, software-code&rsquo;ların kısmen ya da tamamen kopyalanması, değiştirilmesi, yayımlanması, online ya da diğer bir medya kullanılmak suretiyle g&ouml;nderimi, dağıtımı, satılması yasaktır. Bu sayfadaki bilgilerin kısmen kopyalanması, basılması ancak ticari olmayan kişisel ihtiya&ccedil; i&ccedil;in m&uuml;mk&uuml;nd&uuml;r.</li>
                <li>www.becomingtur.com web sitesine girilmesi veya sitenin kullanılması sonucunda ortaya &ccedil;ıkabilecek her t&uuml;r ihtilaf T&uuml;rk kanunlarına tabi olup, ihtilafların &ccedil;&ouml;z&uuml;m&uuml;nde İstanbul Mahkemeleri m&uuml;nhasıran yetkilidir. BECOMING TUR &lsquo;un kullanıcının bulunduğu &uuml;lkede dava a&ccedil;ma hakkı saklıdır.</li>
                <li><strong>11. S&ouml;zleşmenin Feshi</strong></li>
                <li>İşbu s&ouml;zleşme &uuml;yenin &uuml;yeliğini iptal etmesi veya BECOMING TUR tarafından &uuml;yeliğinin iptal edilmesine kadar y&uuml;r&uuml;rl&uuml;kte kalacaktır. BECOMING TUR &uuml;yenin &uuml;yelik s&ouml;zleşmesinin herhangi bir h&uuml;km&uuml;n&uuml; ihlal etmesi durumunda &uuml;yenin &uuml;yeliğini iptal ederek s&ouml;zleşmeyi tek taraflı olarak feshedebilecektir.</li>
                <li><strong>12. İhtilaflerin Halli</strong></li>
                <li>İşbu s&ouml;zleşmeye ilişkin ihtilaflerde İstanbul Anadolu Mahkemeleri ve İcra Daireleri yetkilidir.</li>
                <li><strong>13. Y&uuml;r&uuml;rl&uuml;k</strong></li>
                <li>Kullanıcının, &uuml;yelik kaydı yapması kullanıcının s&ouml;zleşmede yer alan t&uuml;m maddeleri okuduğu ve s&ouml;zleşmede yer alan maddeleri kabul ettiği anlamına gelir. İşbu S&ouml;zleşme kullanıcının &uuml;ye olması anında akdedilmiş ve karşılıklı olarak y&uuml;r&uuml;rl&uuml;ğe girmiştir.</li>
                <li><strong>14. S&ouml;zleşme</strong></li>
                <li>İş bu s&ouml;zleşme 14 maddeden oluşmaktadır.</li>
            </ul>







        </div>
    </div>
</div>



           


