
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #img style="width:100px" RefRow {
        margin-bottom: 22px;
    }

        #img style="width:100px" RefRow > img style="width:100px" {
            height: 90px;
            width: 90px;
            margin-top: 15px;
            margin-left: 3px;
        }
    }
</style>
<div class="container" style="font-family: 'Times New Roman',sans-serif !important;">
    <div class="row">
        <div class="col-md-12">
            <br />
            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt">Hakkımızda</span></strong></span></span></p>



            <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="color:black">Becoming Tour&amp;Service</span></strong><span style="color:black">, T&Uuml;RSAB&rsquo; a bağlı 9135 belge numarası ile hizmet vermekte olan <u>A Grubu İşletme Belgeli</u> turizm seyahat ve organizasyon acentasıdır. G&uuml;&ccedil; ve işbirliği yaptığı ortakları ile vizyonunu ve hedeflerini b&uuml;y&uuml;tmeye, performansı ve paylaşımı ile de yaratmaya ve &uuml;retmeye devam etmektedir.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:black">Sekt&ouml;rde se&ccedil;kin bir yer edinmiş ge&ccedil;mişi ve deneyimi &uuml;st seviyede y&ouml;netim kadrosu ve konusunda uzman gelişime a&ccedil;ık tecr&uuml;beli ekipleri ile takım &ccedil;alışması ruhunu benimsemiş, modern, yenilik&ccedil;i ve kaliteli hizmet sunarak, koşulsuz m&uuml;şteri memnuniyetini hedeflemiş&nbsp;anlayışla &ccedil;alışmaktadır.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:black">Ulusal ve uluslararası kongre, seminer, bayi gezileri, sempozyum, AB projeleri ve danışmanlık hizmetleri, d&uuml;nyanın her yerine seyahat,&nbsp;yurt i&ccedil;i ve dışı&nbsp;tur organizasyonları, gemi turları, kongre ve t&uuml;m tatil planlarınızı g&uuml;ven ve konforu sınırsız hizmet anlayışı ile birleştirerek, planlamak &ouml;ncelikli amacımızdır.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="color:black">Becoming Tour&amp;Service</span></strong><span style="color:black">, profesyonel kadrosu ile organizasyonlarınızda, <strong><span style="font-family:&quot;Calibri&quot;,sans-serif">sorunsuzluğun başarı kabul edildiği organizasyonlar i&ccedil;in değil, fark yaratan ve artı değerleri ile akılda kalan organizasyonlar i&ccedil;in &ccedil;alışır. </span></strong></span></span></span></p>

            <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:black">Hizmet farkımızı birlikte hissetmek dileği ile&hellip;</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:black">Saygılarımızla,</span></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="color:black">Becoming Team</span></strong></span></span></p>
            <p style="font-weight:bold;text-align:center;">Referanaslarımız</p>
            @*<div style="text-align:center">
                        <div class="row" id="img style="width:100px" RefRow">

                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/1552645796167.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/afyoncimento.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/aile.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/avrupa birligi.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/dyo.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/ege.jpg" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/emniyet-genel-mudurlugu-logo-1441D42C90-seeklogo.com.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/enerji.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/katar.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/milliegitim.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/havelsan.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/kiler-gayrimenkul-yatirim-ortakligi-a-s-klgyo.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/komurisletmeciligi.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/kutahya.jpg" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/petkim-logo.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/trabzon-liman-isletmeciligi-a-s-tlman.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/yesilholding.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/saglik.png" />
                            <img style="width:100px"  src="~/Areas/Files/images/referanslar/tarim.png" />


                            <img style="width:100px"   style=" height: 33px; width: 133px;" src="~/Areas/Files/images/referanslar/alarko.png" />
                            <img style="width:100px"  style="margin-top:0px; height: 33px; width: 133px;" src="~/Areas/Files/images/referanslar/aselsan.png" />
                            <img style="width:100px"  style=" height: 33px; width: 133px;" src="~/Areas/Files/images/referanslar/Borusan.png" />
                            <img style="width:100px"  style=" height: 33px; width: 133px;" src="~/Areas/Files/images/referanslar/karel_logo-01.png" />
                            <img style="width:100px"  style=" height: 33px; width: 133px;" src="~/Areas/Files/images/referanslar/caudalie-logo.png" />
                            <img style="width:100px"  style=" height: 33px; width: 133px;" src="~/Areas/Files/images/referanslar/limak.png" />
                            <img style="width:100px"  style=" height: 33px; width: 133px;" src="~/Areas/Files/images/referanslar/socar.png" />

                        </div>
                </div>*@
        @*<div class="container">
            <div class="row">
                <div class="col-md12">
                    <table class="table table-image table-bordered table-responsive-lg">
                        <tbody>
                            <tr id="logoRow">
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/afyoncimento.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/aile.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/alarko.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/aselsan.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/avrupa birligi.png" />
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/1552645796167.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/Borusan.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/caudalie-logo.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/dyo.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/ege.jpg" />
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/emniyet-genel-mudurlugu-logo-1441D42C90-seeklogo.com.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/enerji.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/havelsan.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/karel_logo-01.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/katar.png" />
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/kiler-gayrimenkul-yatirim-ortakligi-a-s-klgyo.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/komurisletmeciligi.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/kutahya.jpg" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/limak.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/milliegitim.png" />
                                </td>
                               
                            </tr>
                            <tr>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/petkim-logo.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/saglik.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/socar.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/tarim.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/trabzon-liman-isletmeciligi-a-s-tlman.png" />
                                </td>
                                <td>
                                    <img style="width:100px" src="~/Areas/Files/images/referanslar/yesilholding.png" />
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@
        </div>
    </div>
