
@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string sessionID = Guid.NewGuid().ToString();
}


<br />
<div class="row">
    <div class="col-md-12">
        <select class="form-control" id="dropTurType" onchange="funcGetİcerik()">
            <option value="YurticiTurları">Yurtiçi Turlar</option>
            <option value="YurtdisiTurları">Yurtdışı Turlar</option>
            <option value="Bilet">Bilet</option>
            <option value="Vize">Vize</option>
            <option value="Mice">MİCE</option>
            <option value="Hizmetlerimiz">Hizmetlerimiz</option>
            <option value="Transfer">Transfer</option>
            <option value="Cruise">Cruise</option>
            <option value="OzelYatKiralama">Özel Yat Kiralama</option>
            <option value="OzelVillaKiralama">Özel Villa Kiralama</option>
            @*<option value="GemiTurları">Gemi Turları</option>
            <option value="MaviTekneTurları">Mavi Tekne Turları</option>*@
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr />
        <label>Menü İçeriği</label>
        <input id="ckeditorMenuİcerik" type="hidden" class="ckeditor" name="ckeditorMenuİcerik">
    </div>
</div>

<div class="col-xs-12">
    <div style="float: right; margin-top: 20px;">
        <input type="button" onclick="AjaxTurMenüİcerik()" value="Gönder" class="btn btn-success" id="SaveButton"/>

    </div>
</div>

<div id="myModalAlert" class="modal fade" role="dialog">
    <div class="modal-dialog">

         Modal content
        <div class="modal-content">
            <div class="modal-header" style="color: #fff;">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <label ID="lblmodalbaslik" runat="server" />
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-2">
                    <img id="imgmodal" />
                </div>
                <div class="col-md-6" style="margin-top: 20px">
                    <label ID="lblonaydurumu" runat="server" />.
                </div>
            </div>
            <div class="modal-footer" style="border: none !important">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>

    </div>
</div>

<script src="~/Areas/Files/ckeditor/ckeditor.js"></script>
<script>
    var ckeditorMenuİcerik = CKEDITOR.replace('ckeditorMenuİcerik');

    
    function AjaxTurMenüİcerik() {
        var Baslik = document.getElementById("dropTurType").value;
        var İcerik = ckeditorMenuİcerik.getData();
        $.ajax({
            type: "POST",
            url: "/panel/create-tur-menusu-icerik",
            dataType: "json",
            data: {Baslik:Baslik,İcerik:İcerik},
            success: function (deger) {
                if (deger == "1") {
                    $("#imgmodal").attr("src", "/Areas/Files/images/basarili.png");
                    $('#lblonaydurumu').html("İşleminiz tamamlandı.");
                    $('#lblmodalbaslik').html("İşleminiz tamamlandı.");
                    $('.modal-header').css('background-color', '#008b8b');
                    $('#myModalAlert').modal('show');
                }
                else if(deger=="0") {
                    $("#imgmodal").attr("src", "/Areas/Files/images/ayniotel.png");

                    $('#lblonaydurumu').html("İşleminiz tamamlanamadı. Lütfen İçeriği doldurunuz.");
                    $('#lblmodalbaslik').html("Üzgünüz,işleminiz tamamlanamadı.");
                    $('.modal-header').css('background-color', '#d9534f');
                    $('#myModalAlert').modal('show');
                }
                else {
                    $("#imgmodal").attr("src", "/Areas/Files/images/error.png");
                    $('#lblonaydurumu').html("Bu tür menüsüne daha önceden içerik girilmiştir.");
                    $('#lblmodalbaslik').html("Sistem hatası !.");
                    $('.modal-header').css('background-color', '#d9534f');
                    $('#myModalAlert').modal('show');
                }


            }
        });
    }
 
    function funcGetİcerik() {
        var Baslik = document.getElementById("dropTurType").value;
        $.ajax({
            type: "POST",
            url: "/panel/get-tur-menusu-icerik",
            dataType: "json",
            data: { Baslik: Baslik },
            success: function (deger) {

                CKEDITOR.instances.ckeditorMenuİcerik.setData(deger);


            }
           

        });
    }

    $(document).ready(function () {
        funcGetİcerik()
    })
</script>

