
@{
    ViewBag.Title = "BecomingTeknik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="font-family: 'Times New Roman',sans-serif !important;">
    <div class="row">
        <div class="col-md-12">
            <br />
            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:28.0pt"><span style="color:red">BECOMİNG TEKNİK</span></span></strong></span></span></p>

            

     

            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt"><span style="color:red">G&Ouml;R&Uuml;NT&Uuml; SİSTEMLERİ</span></span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="background-color:white"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:18.0pt"><span style="color:black">LED EKRAN</span></span></strong></span></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="background-color:white"><span style="font-family:Calibri,sans-serif"><span style="color:black">Routech&rsquo; in b&uuml;nyesine kattığı 3mm indoor ve 5 mm outdoor led ekranlar,&nbsp;d&uuml;ş&uuml;k aralıklı piksel dağılımı ve y&uuml;ksek piksel yoğunluğu sayesinde m&uuml;kemmel &ccedil;&ouml;z&uuml;n&uuml;rl&uuml;kte g&ouml;r&uuml;nt&uuml;ler sunar.&nbsp;D&uuml;zg&uuml;n renk dağılımı ve y&uuml;ksek kontrast oranı, en m&uuml;kemmel g&ouml;r&uuml;nt&uuml; kalitesini m&uuml;mk&uuml;n kılar ve LED Ekranlarda bulunan y&uuml;ksek hassasiyetli die-cast aluminyum panel ile, paneller birbirine kolayca oturur, p&uuml;r&uuml;zs&uuml;z ve d&uuml;z bir ekran oluşturulur.</span></span></span></span></p>

            

            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="background-color:white"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:18.0pt"><span style="color:black">PROJEKSİYON CİHAZLARI</span></span></strong></span></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="background-color:white"><span style="font-family:Calibri,sans-serif"><span style="color:black">Ortam ışık düzeyine uygun olarak se&ccedil;ilmiş projeksiyon cihazı, perdeler, sunum kontrol cihazları ile toplantılarınızı g&ouml;rsel bir şova &ccedil;evirebilirsiniz. 5.000 ile 30.000 Full HD Ansilümen arasındaki ışık gücü ve yüksek &ccedil;&ouml;zünürlüklü cihazlarımızla farklı mekanlara farklı &ccedil;&ouml;zümler üretiyoruz.</span></span></span></span></p>

            

            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="background-color:white"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:18.0pt"><span style="color:black">WATCHOUT (&Ccedil;OKLU EKRAN)</span></span></strong></span></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="background-color:white"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="color:black">Watchout &ldquo;&ccedil;oklu ekran&rdquo; g&ouml;rüntüleme ve sunum sistemi ile etkinliklerinizde, kamera g&ouml;rüntüsü, sunum, video ve logolarınızı aynı anda tek ve geniş bir perdede g&ouml;rüntüleyerek, g&ouml;rsellikte sınırları aşabilirsiniz. Ayrıca&nbsp;aynı anda 8 projeksiyon cihazını tek bir cihazdan kontrol edebilirsiniz.</span></span></span></span></span></p>

            

            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt"><span style="color:red">SES SİSTEMLERİ</span></span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,sans-serif"><span style="color:black">Toplantılarda, konuşmacıların dinleyiciler tarafından herhangi bir parazit veya kesinti olmadan duyulması son derece &ouml;nemlidir. Bunun yanında, gerek kullanılan arka plan müzikleri, gerekse g&ouml;sterilen video sunumlarındaki ses kalitesinin yüksek olması toplantının genel atmosferini olumlu y&ouml;nde etkilemektedir. Konferans Sistemleri konusunda profesyonel &ccedil;alışmayı prensip edinmiş Firmamız Bosch&nbsp;Integrus Serisi Delege Mikrofonlarıyla, hizmet kalitesini bir üst seviyeye taşımıştır. D&uuml;nyanın &ouml;nde gelen ses &uuml;retici firmalarının &uuml;r&uuml;nlerini kullanan Routech teknik altyapısını herg&uuml;n daha da geliştimekte ve sekt&ouml;re kaliteli ses sistemleri sunmaktadır.</span></span></span></span></span></p>

            

            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt"><span style="color:red">IŞIK VE TRUSS</span></span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif"><span style="color:black">Truss sistemleri a&ccedil;ık veya kapalı alanlarda ve kapsamlı organizasyonlarda sahnenin etrafına kurulan her t&uuml;rl&uuml; ışık, robot ve ses sistemlerinin asıldığı mod&uuml;ler al&uuml;minyum sistemlerdir. Efekt ve Aydınlatma sadece aydınlatma i&ccedil;in değil aynı zamanda farklı renklerle farklı ambiyanslar oluşturmak, m&uuml;zik ve sanat&ccedil;ıyı ya da konuşmacıyı g&ouml;rsel olarak da desteklemek amacıyla kullanılır. Lazer ve Robot ışıklarla kongre ve konser sistemlerinde ayrı bir etki vermesi ve ayrıca logo dolaştırmak&nbsp;amacıyla &ouml;zel şovlarda kullanılır. Bu ışıklarla &ccedil;eşitli desenler, yazılar, d&ouml;nerek oluşturulan logolar, kayan, b&uuml;y&uuml;y&uuml;p k&uuml;&ccedil;&uuml;len veya farklı animasyonlar ve hareketlerden oluşan kombinasyonlarda yapmak m&uuml;mk&uuml;nd&uuml;r.</span></span></span></span></span></span></p>

            


            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt"><span style="color:red">SİMULTANE SİSTEM YAZILIMLARI VE BAŞKANLIK SİSTEMİ</span></span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="background-color:white"><span style="color:black">Simultane &Ccedil;eviri&nbsp;ve Kulaklık&nbsp;Sistemlerimiz her biri sekt&ouml;rde dünya devi olan BOSCH ve SENNHEISER markalarıdır. Her toplantı salonuna g&ouml;re ayrı ayrı projelendirilen sistemlerimiz 2 Mhz üzerindeki yayın frekansı sayesinde alışılagelmiş parazitlerden uzak dinleyiciye HF kalitesinde bir ses sunmaktadır. Aynı anda 32 dilde &ccedil;eviri imkanı sunan tercüman ünitelerimiz dijital ekranları sayesinde simultane tercümanlara hatadan uzak konforlu bir toplantı i&ccedil;in zemin hazırlamaktadır. Ayrıca ISO standartlarındaki AIIC kurallarına uygun Mod&uuml;ler Simultane &Ccedil;eviri Kabinlerimiz, t&uuml;m uluslararası toplantılarda ihtiya&ccedil;larınıza cevap verebilmektedir.</span></span></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="background-color:white"><span style="color:black">Ayrıca bu sistemlere entegre olarak &ccedil;alışan BOSCH Başkanlık sistemi yazılımı ve BOSCH Dome Kamera sistemi ile toplantılarınızın kontrol&uuml;n&uuml; başkana verebilir, konuşmacı s&uuml;relerini başkanlık &uuml;nitesinden ayarlayabilirsiniz. Konuşmacılar delege mikrofonları &uuml;zerindeki d&uuml;ğmeye basarak başkandan s&ouml;z istemiş olur. Başkan &ouml;n&uuml;nde bulunan dokunmatik ekran monit&ouml;re s&ouml;z isteyenler listelenir. Başkan sırası ile veya istediği konuşmacıya s&ouml;z verebilir, s&ouml;z&uuml;n&uuml; kesebilir, s&uuml;re tanımlayabilir. Konuşmacı s&ouml;z aldığında masanın ortasına kurulan BOSCH Dome Kamera sistemi 1 sn i&ccedil;erisinde kişiye odaklanır ve kamera g&ouml;r&uuml;nt&uuml;s&uuml; canlı olarak ekranlara yansıtılabilir.</span></span></span></span></p>

       

            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt"><span style="color:red">BİLİŞİM SİSTEMLERİ</span></span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif"><span style="color:black">T&uuml;m toplantı ve organizasyonlarınız i&ccedil;in gereken her t&uuml;rl&uuml; bilgisayar ve alt donanımları, geniş &uuml;r&uuml;n yelpazemizle, tecr&uuml;beli IT ekibimizle hizmetinizdeyiz. Toplantı ve kongrelerde ihtiya&ccedil; ve talebe y&ouml;nelik, pc, laptop, farklı ebat ve &ouml;l&ccedil;&uuml;lerde led tv, renklli ve siyah beyaz lazer yazıcılar, fotokopi makinaları, kablolu yada kablosuz internet alt yapı oluşturma hizmetlerini kendi b&uuml;nyemizde bulunan ara&ccedil; ve deneyimli personelimizle her noktadan herşeye hizmetinizdeyiz. Routech&rsquo;in kendine &rdquo;Rotamız Tek, Rotamız Teknoloji&rdquo; ilkesinden hareketle g&uuml;n&uuml;m&uuml;z teknolojik gelişmelerin hızı ile doğru orantılı olarak kendini s&uuml;rekli g&uuml;ncellemektedir. Veri transferlerinde hız ve g&uuml;venliği g&uuml;ncel donanım ve yazılımları kullanarak ger&ccedil;ekleştirmektedir.</span></span></span></span></span></span></p>

         

            <p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:22.0pt"><span style="color:red">SAHNE, DEKOR VE TASARIM</span></span></strong></span></span></p>

            <p style="margin-left:0in; margin-right:0in"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif"><span style="color:black">Etkinlik konseptine y&ouml;nelik yaratıcı,&nbsp;yenilik&ccedil;i ve uygun maliyetli toplantı, lansman, event, kongre, gala, &ouml;d&uuml;l, a&ccedil;ılış, defile, konser gibi etkinliklerinizde sahne arkası g&ouml;rseller tamamlayıcı &ouml;ğeleridir. Tasarımı ve montajı kendi b&uuml;nyemizdeki profesyonel ekimizle ger&ccedil;ekleştirilmektedir. Sadece sahne dekoru değil, podyum, kayıt, karşılama masaları, k&uuml;rs&uuml;, headtable, internet merkezleri, kiokslar, y&ouml;nlendirme&nbsp;levhaları ve konspet malzeme &uuml;retimleriyle&nbsp;etkinliklerin en &ouml;nemli par&ccedil;asıdır. Etkinliğin&nbsp;konseptine&nbsp;uygun g&ouml;rseller, grafik ekimizce Autodesk 3D Max Desing programı ile &uuml;&ccedil; boyutlu olarak dekor işlemi yapılmadan &ouml;nce ger&ccedil;eğine uygun olarak sizlere sunmaktadır ve se&ccedil;ilen &ccedil;alışma en kaliteli şekilde basımı ger&ccedil;ekleştirdikten sonra dekor ekibimizce uygulanır.</span></span></span></span></span></span></p>

        </div>
    </div>
</div>

